config.php
!phpbb/config/config.php
!phpbb/db/migration/tool/config.php
!phpbb/di/extension/config.php
!phpbb/search/sphinx/config.php
cache/*
images/avatars/*
nbproject/
images/gallery/*
!images/gallery/thumbnails
images/gallery/thumbnails/*
.idea
images/news/*
!images/news/thumbnails
images/news/thumbnails/*