<div id="message-box">
    <form method="POST" action="custom/handlers/edit.php">
        <input placeholder="Titel" class="input" type="text" name="title" id="title" size="45" tabindex="2" value="{PAGETITLE}">
        <textarea class="input" name="content" id="content" rows="15" cols="76" tabindex="4" placeholder="Inhalt">{PAGECONTENT}</textarea> 
        <input type="hidden" name="pageid" value="{PAGEID}">
        <input type="submit" name="submit" value="Absenden" class="button">
    </form>
</div>