<div id="sub-header">
    <div class="chunk">
        <div class="sub-header-title">
            <h2 class="titlespace">
                {PAGETITLE}
            </h2>
        </div>

        <!-- IF ISADMIN == true -->
            <div class="sub-header-buttons">
                <!-- IF PAGE == 'view' -->
                    <a href="custom.php?edit={PAGEID}" class="button-flat" title="Artikel editieren"><span>editieren</span></a>
                <!-- ENDIF -->
                <a href="custom.php?edit=new" class="button icon-button reply-icon" title="Neue Seite erstellen"><span>Neue Seite</span></a>
            </div>
        <!-- ENDIF -->
    </div>
</div>
