<div id="sub-header">
    <div class="chunk">
        <div class="sub-header-title">
            <h2 class="titlespace">
                {PAGETITLE}
            </h2>
        </div>
        
        <!-- IF CAN_ADD -->
            <div class="sub-header-buttons">
                <!-- IF SITE == 'viewArticle' -->
                    <a href="news.php?edit=article&id={ARTICLE_ID}" class="button-flat" title="Artikel editieren"><span>editieren</span></a>
                <!-- ENDIF -->
                <!-- IF SITE == 'viewFolder' -->
                    <a href="gallery.php?edit=folder&id={FOLDER}" class="button-flat" title="Collection editieren"><span>editieren</span></a>
                <!-- ENDIF -->
                <a href="news.php?edit=article&id=new" class="button icon-button reply-icon" title="Neuen Post erstellen"><span>Neuer Post</span></a>
            </div>
        <!-- ENDIF -->
    </div>
</div>
