
<!-- IF SITE == 'overview' -->
<div id="site-desc-full">
    <div class="media-slider media-slider-youtube"><a href="https://www.youtube.com/channel/UCYXkRfsNN3DRImYDk-p50IQ" target="_blank"><img src="images/btn-youtube.png"><p>Unser Youtube-Kanal</p></a><div class="clear"></div></div>
    <div class="media-slider media-slider-facebook"><a href="https://www.facebook.com/jaegerzugachilles" target="_blank"><img src="images/btn-facebook.png"><p>Besuche uns auf Facebook</p></a><div class="clear"></div></div>
    <div class="chunk">
        <div class="site-logo">
            <img src="images/site-logo.png">
        </div>
            <div id="page-description">
                    <h1>{SITENAME}</h1>
                    <h2>{SITE_DESCRIPTION}</h2>
            </div>
    </div>
</div>
<!-- ELSE -->

<div id="sub-header">
    <div class="chunk">
        <div class="sub-header-title">
            <h2 class="titlespace">
                {PAGETITLE}
            </h2>
        </div>
        
        <!-- IF IS_MEMBER -->
            <div class="sub-header-buttons">
                <!-- IF SITE == 'viewArticle' && CAN_ADD -->
                    <a href="news.php?edit=article&id={ARTICLE_ID}" class="button-flat" title="Artikel editieren"><span>editieren</span></a>
                <!-- ENDIF -->
                <!-- IF SITE == 'viewEvent' -->
                    <a href="news.php?edit=event&id={ARTICLE_ID}" class="button-flat" title="EVENT editieren"><span>editieren</span></a>
                <!-- ENDIF -->
                
                <!-- IF CAN_ADD == true -->
                <a href="news.php?edit=article&id=new" class="button icon-button reply-icon" title="Neuen Post erstellen"><span>Neuer Post</span></a>
                <!-- ENDIF -->
                <a href="news.php?edit=event&id=new" class="button icon-button reply-icon" title="Neuer Termin erstellen"><span>Neuer Termin</span></a>
            </div>
        <!-- ENDIF -->
    </div>
</div>

<!-- ENDIF -->
