<div id="message-box"> 
        <!-- BEGIN article -->
        <div class="archive-news">
            <div class="news-image">
                <a href="news.php?view=article&id={article.ARTICLE_ID}"><img src="images/news/thumbnails/{article.ARTICLE_ID}.jpg"></a>
            </div>
            <div class="news-teaser">
                <h3><!-- IF article.ARCHIVE -->{article.CATEGORY}: <!-- ENDIF --><a href="news.php?view=article&id={article.ARTICLE_ID}">{article.TITLE}</a></h3>
                <p>{article.CONTENT}... <a href="news.php?view=article&id={article.ARTICLE_ID}">weiterlesen</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <!-- END article -->
</div>