<div id="message-box"> 
        <ul class="slides">
            <!-- BEGIN featured -->
            <li class="mySlides">
                <a href="news.php?view=article&id={featured.ID}">
                    <img src="images/news/{featured.ID}.jpg">
                </a>
                <div class="news-information">
                    <h3><a href="news.php?view=article&id={featured.ID}">{featured.TITLE}</a></h3>
                    <p>{featured.CONTENT}... <a href="news.php?view=article&id={featured.ID}">weiterlesen</a></p>
                </div>
            </li>
             <!-- END featured -->
        </ul> 
    
    <div class="overview-widget">
        <h2>Mehr Neuigkeiten</h2>
        <!-- BEGIN articles -->
        <div class="singleNews">
            <div class="news-image">
                <a href="news.php?view=article&id={articles.ID}"><img src="images/news/thumbnails/{articles.ID}.jpg"></a>
            </div>
            <div class="news-teaser">
                <h3>{articles.CATEGORY}: <a href="news.php?view=article&id={articles.ID}">{articles.TITLE}</a></h3>
                <p>{articles.CONTENT}... <a href="news.php?view=article&id={articles.ID}">weiterlesen</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <!-- END articles -->
    </div>
    <div class="overview-widget">
        <h2>Anstehende Termine</h2>
        <h2>Schreischachtel&trade;</h2>
    </div>
    <div class="clear"></div>
</div>
