<div id="message-box">
    <!-- IF CAN_EDIT -->
    <form enctype="multipart/form-data" method="POST" class="gallery-form" accept-charset="UTF-8" action="gallery/handlers/editPicture.php">
        <!-- IF MODE == 'edit' -->
            <div class="picture">
                <img src="images/gallery/{PICTURE_ID}.jpg">
                <input type="hidden" name="picid" id="picid" value="{PICTURE_ID}">
            </div>
        <!-- ENDIF -->
        <input placeholder="Titel (Pflichtangabe)" class="input" type="text" name="title" id="title" size="45" tabindex="2" value="{NAME}" required>
        <textarea class="input" name="description" id="description" rows="15" cols="76" tabindex="4" placeholder="Beschreibung">{DESCRIPTION}</textarea> 
        <select name="folder" class="folderSelect">
            <!-- BEGIN folders -->
            <option value="{folders.ID}">{folders.NAME}</option>
            <!-- END folders -->
        </select>
        <!-- IF MODE == 'new' -->
        <label for="fileToUpload" id="fileLabel" class="button"><span>Datei auswählen (Pflichtangabe)</span></label>
        <input id="fileToUpload" type="file" class="inputFile" name="fileToUpload" required>
        <script>
            var inputs = document.querySelectorAll( '.inputFile' );
            Array.prototype.forEach.call( inputs, function( input )
            {
                var label   = document.getElementById('fileLabel');
                labelVal    = label.innerHTML;

                input.addEventListener( 'change', function( e )
                {                        
                    var fileName = '';
                    if( this.files && this.files.length > 1 )
                            fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
                    else
                            fileName = e.target.value.split( '\\' ).pop();

                    if( fileName )
                            label.querySelector( 'span' ).innerHTML = fileName;
                    else
                            label.innerHTML = labelVal;
                });
            });
        </script>
        <!-- ENDIF -->
        <input type="hidden" name="date" id="date" value="{DATE}">
        <input type="hidden" name="author" id="author" value="{AUTHOR}">
        <input type="hidden" name="mode" id="mode" value="{MODE}">
        <input type="submit" name="submit" value="Absenden" class="button">
    </form>
    <!-- ELSE -->
        <p>Du hast keine Berechtigung diese Seite anzusehen.</p>
    <!-- ENDIF -->
</div>
