<div id="sub-header">
    <div class="chunk">
        <div class="sub-header-title">
            <h2 class="titlespace">
                Usergalerie
            </h2>
        </div>
        <!-- IF CANADD -->
            <div class="sub-header-buttons">
                <a href="gallery.php?edit=image&id=new" class="button icon-button reply-icon" title="Bild hochladen"><span>Bild hochladen</span></a>
                <a href="gallery.php?edit=folder&id=new" class="button icon-button reply-icon" title="Collection anlegen"><span>Collection anlegen</span></a>
            </div>
        <!-- ENDIF -->
    </div>
</div>
