{# Use the space below to include external CSS and JS files
# Here are some example usages:
#
# local files relative to this template file (when stored inside phpBB's style directories):
# <!-- INCLUDEJS script.js -->
# <!-- INCLUDECSS ../theme/style.css -->
#
# hosted on external sites:
# <!-- INCLUDEJS http://code.jquery.com/jquery-migrate-1.2.1.min.js -->
# <!-- INCLUDECSS https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css -->
#
# local files stored inside the Pages extension:
# <!-- INCLUDEJS @phpbb_pages/script.js -->
# <!-- INCLUDECSS @phpbb_pages/../theme/style.css -->
#
#}
<!-- INCLUDECSS @phpbb_pages/../theme/pages_controller.css -->
<!-- INCLUDE overall_header.html -->

<div id="sub-header">
	<div class="chunk">
		<div class="sub-header-title">
			<h2 class="pages-title">{PAGE_TITLE}</h2>
		</div>
	</div>
</div>

<div id="mbrs" class="background-main">
	<div class="chunk">
		<div class="content pages-content">
			<div class="box-normal">{PAGE_CONTENT}</div>
		</div>
		<!-- EVENT phpbb_pages_after_page_content -->
	</div>
</div>

<!-- INCLUDE overall_footer.html -->
