/*
	Ravaio Theme Stylesheet Made by Gramziu
*/
@media (max-width: 1000px) {
  .content-main:not(:only-child),
  .forumlist-main:not(:only-child),
  .page-content:not(:only-child) {
    margin-left: 0;
    margin-right: 0;
  }
  .main-sidebar,
  .sidebar {
    text-align: center;
    width: 100%;
  }
  .sidebar-block {
    display: inline-block;
    margin-left: 9px;
    margin-right: 9px;
    max-width: 232px;
  }
}
@media (max-width: 900px) {
  #footer-custom .online-list {
    padding: 0;
    width: 100%;
  }
  #footer-custom .footer-block {
    padding-left: 0;
    padding-right: 9px;
    width: 50%;
  }
  #footer-custom .footer-block + .footer-block {
    padding-left: 9px;
    padding-right: 0;
  }
}
@media (min-width: 801px) and (max-width: 1000px) {
  .cp-list-description {
    margin-right: 0;
  }
  .cp-list-recent {
    margin-left: 54px;
    margin-top: -7px;
    padding-top: 0;
  }
}
@media (max-width: 800px) {
  #cp-sidebar {
    margin-left: -300px;
  }
  #cp-main {
    margin-left: 0;
  }
  .re-lg {
    display: inline-block !important;
  }
}
@media (max-width: 700px) {
  .chunk {
    padding: 0 9px 0 9px !important;
  }
  .chunk-inner {
    padding: 0;
  }
  #breadcrumbs li.crumb-solid {
    font-size: 0;
  }
  #breadcrumbs li.crumb-solid:before {
    display: none;
  }
  #breadcrumbs li.crumb-solid a:after {
    content: "\f015";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 14px;
  }
  #breadcrumbs li {
    display: none;
  }
  .site-nav {
    margin: 0;
  }
  .sub-header-buttons .button span {
    display: none;
  }
  .forum-bg h4 {
    margin-bottom: 6px;
  }
  .feed-icon {
    display: none;
  }
  .fora-description,
  .topic-description {
    margin: 0 138px 0 54px;
  }
  .fora-description-inner,
  .topic-description-inner {
    margin-bottom: 13px;
    padding-bottom: 6px;
  }
  .fora-redirect {
    padding: 15px 0;
    width: 120px;
  }
  .fora-redirect:after {
    clear: both;
    content: "";
    display: block;
    height: 18px;
    width: 100%;
  }
  .fora-stats,
  .topic-stats {
    padding-bottom: 6px;
  }
  .fora-recent,
  .topic-recent {
    margin: -13px 0 0 54px;
    padding: 0 18px 18px 18px;
    width: auto;
  }
  .fora-recent br,
  .topic-recent br {
    display: none;
  }
  .statistics span {
    margin: 0 18px 18px 18px;
    width: auto;
  }
  .permissions {
    float: none;
    width: auto;
  }
  .permissions + .online-list {
    margin: 24px 0 0;
  }
  .online-list {
    margin-left: 0;
    margin-right: 0;
  }
  .postprofile {
    width: 35px;
  }
  .postprofile .username,
  .postprofile .username-coloured {
    display: none;
  }
  .avatar > img {
    max-height: 35px;
    max-width: 35px;
  }
  .avatar-none {
    height: 35px;
    line-height: 35px;
    width: 35px;
  }
  .avatar-none::first-letter {
    font-size: 12px;
  }
  .avatar-container {
    margin-bottom: 9px;
  }
  .postbody {
    margin-left: 53px;
  }
  .postbody h3 {
    display: inline-block;
    float: none;
  }
  .quickreply-avatar {
    right: 0;
  }
  .quickreply-avatar > img {
    max-height: 35px;
    max-width: 35px;
  }
  .quickreply-box {
    margin-right: 53px;
  }
  .re-md {
    display: inline-block !important;
  }
  li.re-md,
  .post-author-r.re-md {
    display: block !important;
  }
  .re-md-r {
    display: none !important;
  }
  .chunk-10,
  .chunk-125,
  .chunk-15,
  .chunk-20,
  .chunk-25,
  .chunk-33,
  .chunk-40,
  .chunk-50,
  .chunk-60,
  .chunk-66,
  .chunk-75,
  .chunk-80 {
    width: 100%;
  }
  #message-sidebar {
    float: none;
    margin-top: 0;
    width: 100%;
  }
  #message-box {
    margin: 0 0 18px;
    width: 100%;
  }
  .post-date {
    clear: both;
    display: block !important;
    float: none;
    margin: 6px 0 0 !important;
  }
  .cp-list-description {
    margin-right: 0;
  }
  .cp-list-recent {
    margin-left: 54px;
    margin-top: -7px;
    padding-top: 0;
  }
  .rc-posts {
    margin-bottom: 9px;
    margin-top: 0;
  }
  .rc-hr {
    margin-top: 9px;
  }
  #team .rank-img {
    clear: both;
    display: block;
    float: none;
    margin: 0;
  }
}
@media (max-width: 600px) {
  body {
    padding: 0 !important;
  }
  #wrap {
    border-radius: 0 !important;
  }
  #wrap-header,
  #wrap-header-index,
  #wrap-footer {
    border-radius: 0 !important;
  }
  .site-nav li {
    position: static;
  }
  .site-nav li:after {
    background-color: rgba(48, 89, 122, 0.6);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity 0.24s cubic-bezier(0.6, 0, 0.1, 1);
            transition: opacity 0.24s cubic-bezier(0.6, 0, 0.1, 1);
  }
  .site-nav .dropdown-body li {
    position: relative;
  }
  .site-nav .dropdown-search,
  .site-nav .dropdown-box,
  .site-nav .dropdown-box-big {
    border-radius: 0;
    bottom: 0;
    display: block;
    left: auto;
    max-height: 100%;
    padding: 18px;
    position: fixed;
    right: -9000px;
    top: 56px;
    -webkit-transition: right 0.24s cubic-bezier(0.6, 0, 0.1, 1);
            transition: right 0.24s cubic-bezier(0.6, 0, 0.1, 1);
  }
  .site-nav .open .dropdown-search,
  .site-nav .open .dropdown-box,
  .site-nav .open .dropdown-box-big {
    left: auto;
    right: 0;
  }
  .site-nav .open:after {
    opacity: 1;
  }
  .site-nav .w-drop:hover + .dropdown-mega,
  .site-nav .dropdown-mega:hover {
    display: block;
  }
  .site-nav .dropdown-mega {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0;
    box-shadow: none;
    margin: 0 -18px;
    max-width: 277px;
    padding: 18px;
    position: static;
  }
  .postprofile {
    margin: 0 18px;
  }
  .postbody {
    margin-left: 0;
  }
  #footer-custom .footer-block {
    padding: 0 !important;
    width: 100% !important;
  }
  #wrap-footer {
    padding: 9px 0 18px;
    text-align: center;
  }
  #wrap-footer ul {
    overflow: hidden;
  }
  #wrap-footer li {
    float: none;
    margin: 9px 12px !important;
  }
  #wrap-footer li:last-child {
    margin-bottom: 0 !important;
  }
  #wrap-footer .rside {
    clear: both;
    display: block;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .chunk {
    padding: 0 6px !important;
  }
  .chunk-10,
  .chunk-125,
  .chunk-15,
  .chunk-20,
  .chunk-25,
  .chunk-33,
  .chunk-50,
  .chunk-75,
  .chunk-100 {
    padding: 0 6px;
  }
  .chunk-auto {
    padding: 0 6px;
  }
  .fora-description,
  .topic-description {
    margin: 0 0 0 54px;
  }
  .subforums-list {
    display: none;
  }
  .fora-stats,
  .fora-redirect,
  .topic-stats {
    display: none;
  }
  .re-sm {
    display: inline-block !important;
  }
  .rc-hr {
    margin-top: 6px;
  }
}
@media (max-width: 434px) {
  .captcha-image img {
    width: 100%;
  }
}
@media (max-width: 330px) {
  .fora-icon {
    display: none;
  }
  .fora-description,
  .fora-recent {
    margin-left: 0;
  }
}
