<style>
.dropdown-profile {
  left: {RA_POSTER_WIDTH};
}
.rtl .dropdown-profile {
  left: auto;
  right: {RA_POSTER_WIDTH};
}
<!-- IF not RA_DARK -->
<!-- IF RA_HEAD_OTHER_IMG -->
body:not(.section-index) #wrap-inner {
  background-image: url("./styles/ravaio/theme/images/{RA_HEAD_OTHER_IMG}");
}
<!-- ENDIF -->
@media (min-width: 701px) {
  .postprofile {
	padding-right: 18px;
    width: {RA_POSTER_WIDTH};
  }
  .postbody {
    margin-left: {RA_POSTER_WIDTH};
  }
  .rtl .postprofile {
	padding-left: 18px;
	padding-right: 0;
  }
  .rtl .postbody {
    margin-right: {RA_POSTER_WIDTH};
    margin-left: 0;
  }
}
@media (max-width: 700px) {
  .standard-profile {
	display: none;
  }
}
<!-- IF RA_POSTER_STYLE eq 1 -->
.post-actions {
  clear: both;
}
<!-- ENDIF -->
<!-- IF RA_AV_STYLE eq 1 -->
.avatar-none,
.avatar > img {
  border-radius: 2px;
}
<!-- ELSEIF RA_AV_STYLE eq 2 -->
.avatar-none,
.avatar > img {
  border-radius: 0;
}
<!-- ENDIF -->
<!-- IF RA_LAYOUT eq 0 -->
body {
  padding: 18px;
}
#wrap {
  border-radius: 2px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.24);
  margin: 0 auto;
  max-width: {RA_WIDTH};
}
#wrap-inner{
  background-color: {RA_S_ACCENT_B};
  border-radius: 2px;
}
.chunk {
  padding: 0 36px;
}
.chunk-inner {
  padding: 0 18px;
}
#wrap-header,
#wrap-header-index {
  border-radius: 2px 2px 0 0;
}
.is-sticky #wrap-header,
.is-sticky #wrap-header-index {
  border-radius: 0;
}
#site-desc-full,
#site-desc-small {
  border-radius: 2px 2px 0 0;
}
#wrap-footer {
  border-radius: 0 0 2px 2px;
}
#information {
  border-radius: 2px 2px 0 0;
}
<!-- ELSE -->
#back-to-top.btt-docked {
  bottom: auto;
  position: absolute;
  top: -18px;
}
<!-- ENDIF -->
<!-- IF not RA_HEAD_TYPE -->
<!-- IF RA_LAYOUT eq 1 -->
.is-sticky #wrap-header,
.is-sticky #wrap-header-index {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.42);
}
<!-- ELSE -->
.is-sticky #wrap-header,
.is-sticky #wrap-header-index {
  border-radius: 0;
  box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.42);
}
<!-- ENDIF -->
.anchor {
  margin-top: -56px;
  padding-top: 56px;
}
<!-- ENDIF -->
.chunk,
.chunk-inner {
  max-width: {RA_WIDTH};	
}
body,
html {
  background-color: {RA_BG_F};
  color: {RA_T};
}
select {
  background-color: transparent;
  border-color: #dbdbdb;
}
a,
a:visited {
  color: {RA_T_ACCENT};
}
a:hover {
  color: {RA_M_ACCENT};
}
a:active {
  color: {RA_T_ACCENT_B};
}
#wrap-header {
  background-color: {RA_HEAD_OTHER_BG};
}
#wrap-header-index {
  background-color: {RA_HEAD_INDEX_BG};
}
.is-sticky #wrap-header,
.is-sticky #wrap-header-index {
  background-color: {RA_HEAD_BG};
}
.site-header,
.site-header a,
.site-header span {
  color: #fafafa;
}
.site-header a:hover,
.site-header span:hover {
  color: #dbdbdb;
}
.site-header a:active,
.site-header span:active {
  color: #b2b2b2;
}
#breadcrumbs li:before {
  color: rgba(0, 0, 0, 0.3);
}
.site-nav .count {
  background-color: #F44336;
  color: #fafafa;
}
#header-avatar > span {
  background-color: rgba(0, 0, 0, 0.24);
  color: #fafafa !important;
}
#header-avatar:hover > span {
  background-color: #dbdbdb;
  color: {RA_T} !important;
}
#header-avatar:active > span {
  background-color: #b2b2b2;
  color: {RA_T} !important;
}
.open #header-avatar > span {
  background-color: #b2b2b2;
  color: {RA_T} !important;
}
#header-avatar img {
  border-color: rgba(0, 0, 0, 0.24);
}
#header-avatar:hover img {
  border-color: #dbdbdb;
}
#header-avatar:active img {
  border-color: #b2b2b2;
}
.open #header-avatar img {
  border-color: #b2b2b2;
}
#header-mini-menu {
  background-color: rgba(0, 0, 0, 0.24);
  color: #fafafa;
}
#header-mini-menu:hover {
  background-color: #dbdbdb;
  color: {RA_T} !important;
}
#header-mini-menu:active {
  background-color: #b2b2b2;
  color: {RA_T} !important;
}
.open > #header-mini-menu {
  background-color: #b2b2b2;
  color: {RA_T} !important;
}
#wrap-footer {
  background-color: {RA_S_ACCENT_B};
  color: #b2b2b2;
}
#wrap-footer a,
#wrap-footer a:visited {
  color: #fafafa;
}
#wrap-footer a:hover {
  color: #dbdbdb;
}
#wrap-footer a:active {
  color: #13191c;
}
.background-main .box-normal {
  background-color: #ffffff;
  border-color: #EEE;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
  color: {RA_T};
}
.background-main .box-normal .strong-head {
  border-color: rgba(0, 0, 0, 0.06);
}
.background-deep .box-normal {
  background-color: #f5f5f5;
  border-color: #e4e4e4;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
  color: #4c4c4c;
}
.background-deep .box-normal .strong-head {
  border-color: rgba(0, 0, 0, 0.06);
}
.info-box {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.3);
}
#information {
  background-color: #F44336;
  color: #fafafa;
}
#site-desc-full,
#site-desc-small {
<!-- IF RA_HEAD_INDEX_IMG -->  background-image: url("./styles/ravaio/theme/images/{RA_HEAD_INDEX_IMG}");<!-- ENDIF -->
  background-color: {RA_S_ACCENT_B};
}
#site-desc-full h1,
#site-desc-small h1 {
  color: #fafafa;
}
#site-desc-full h2,
#site-desc-small h2 {
  color: #fafafa;
}
#sub-header {
  background-color: {RA_SUB_HEAD_BG};
}
.sub-header-title {
  color: #fafafa;
}
.sub-header-title a,
.sub-header-title a:visited {
  color: #fafafa;
}
.sub-header-title a:hover {
  color: #dbdbdb;
}
.sub-header-title a:active {
  color: #13191c;
}
.sub-header-title p {
  color: #b2b2b2;
}
.sub-header-buttons .button-round {
  color: #fafafa;
}
.sub-header-buttons .button-round:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fafafa;
}
.sub-header-buttons .button-round:active {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fafafa;
}
.sub-header-buttons .open > .button-round {
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: #fafafa !important;
}
.sub-header-buttons .chosen-single {
  color: #fafafa;
}
.sub-header-buttons .chosen-single:hover,
.sub-header-buttons .chosen-single:active {
  color: #fafafa;
}
#main-search-box-md input,
#main-search-box-md button {
	background-color: #f0f0f0;
}
.sidebar-block {
  background-color: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
  border-color: #EEE;
}
.dropdown-search {
  background-color: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.24);
}
.dropdown-search input {
  background-color: #f0f0f0;
}
.action-bar-top {
  border-bottom-color: #f0f0f0;
}
.action-bar-bottom {
  border-top-color: #f0f0f0;
}
.pagination li a:hover,
.pagination li span:hover {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.42);
  color: {RA_T};
}
.pagination li a:active,
.pagination li span:active {
  background-color: #f0f0f0;
  box-shadow: none;
  color: {RA_T};
}
.pagination .ellipsis span:hover {
  background-color: transparent;
  box-shadow: none;
}
.pagination .ellipsis span:active {
  background-color: transparent;
}
.pagination .active span {
  background-color: #f0f0f0;
}
.pagination .active span:hover {
  background-color: #f0f0f0;
  box-shadow: none;
}
.pagination-small li a,
.pagination-small li span {
  border-color: #f0f0f0;
}
.member-search {
  background-color: {RA_S_ACCENT};
}
.member-search a {
  color: #fafafa;
}
.member-search a:visited {
  color: #fafafa;
}
.search-box input {
  border-color: {RA_S_ACCENT};
}
.search-box input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.18);
}
.search-box input:hover {
  border-color: {RA_M_ACCENT};
}
.search-box input:focus {
  border-color: {RA_M_ACCENT};
}
.search-box input,
.search-box button {
  background-color: transparent;
  color: #fafafa;
}
.fora-bg {
  border-color: #EEE;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
.fora-bg h3 {
  background-color: {RA_S_ACCENT};
  color: #fafafa;
}
.fora-bg h3 a {
  color: #fafafa;
}
.fora-bg h3 a:hover {
  color: #dbdbdb;
}
.fora-bg h3 a:active {
  color: {RA_T_ACCENT_B};
}
.fora-bg h4,
.fora-bg h4 a {
  color: {RA_T_ACCENT};
}
.fora-bg h4 a:hover {
  color: {RA_M_ACCENT};
}
.fora-bg h4 a:active {
  color: {RA_T_ACCENT_B};
}
.fora-bg li {
  background-color: #ffffff;
}
.fora-bg li:after {
  background-color: #EEE;
}
.fora-bg dfn {
  color: #dbdbdb;
}
.fora-icon {
  color: {RA_T_ACCENT};
}
.fora-icon div {
  background-color: transparent;
}
.fora-bg li:hover .fora-icon {
  color: #fafafa;
}
.fora-bg li:hover .fora-icon div {
  background-color: {RA_M_ACCENT};
}
.feed-icon {
  color: #dbdbdb;
}
.feed-icon:visited {
  color: #dbdbdb;
}
.feed-icon:hover,
.feed-icon:active {
  color: #FF9800;
}
.forum_unread,
.forum_unread_locked,
.forum_unread_subforum {
  color: #fafafa;
}
.forum_unread div,
.forum_unread_locked div,
.forum_unread_subforum div {
  background-color: #D32F2F;
}
.fora-bg li:hover .forum_unread div,
.fora-bg li:hover .forum_unread_locked div,
.fora-bg li:hover .forum_unread_subforum div {
  background-color: #F44336;
}
.fora-stats-sm {
  color: #b2b2b2;
}
.subforums-list:after {
  color: #dbdbdb;
}
.fora-unapproved-icon {
  color: #FF9800;
}
.fora-unapproved-icon:visited {
  color: #FF9800;
}
.fora-unapproved-icon:hover {
  color: {RA_M_ACCENT};
}
.fora-unapproved-icon:active {
  color: {RA_T_ACCENT_B};
}
.forum-bg {
  border-color: #EEE;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
.forum-bg h3 {
  background-color: {RA_S_ACCENT};
  color: #fafafa;
}
.forum-bg h3 a {
  color: #fafafa;
}
.forum-bg h3 a:hover {
  color: #dbdbdb;
}
.forum-bg h3 a:active {
  color: {RA_T_ACCENT_B};
}
.forum-bg h4,
.forum-bg h4 a {
  color: {RA_T_ACCENT};
}
.forum-bg h4 a:hover {
  color: {RA_M_ACCENT};
}
.forum-bg h4 a:active {
  color: {RA_T_ACCENT_B};
}
.forum-bg li {
  background-color: #ffffff;
}
.forum-bg ol > li + li {
  border-color: #f0f0f0;
}
.forum-bg dfn {
  color: #dbdbdb;
}
.forum-bg .reported {
  background-color: #FFFAFA;
}
.forum-bg .deleted {
  background-color: #fcfcfc;
}
.forum-bg .deleted:hover {
  background-color: #ffffff;
}
.topic-icon {
  color: {RA_T_ACCENT};
}
.topic-icon div {
  background-color: transparent;
}
.topic-stats-sm {
  color: #b2b2b2;
}
.topic-unapproved-icon {
  color: #FF9800;
}
.topic-deleted-icon {
  color: #009688;
}
.topic-reported-icon {
  color: #F44336;
}
.forum-bg li:hover .topic-icon {
  color: #fafafa;
}
.forum-bg li:hover .topic-icon div {
  background-color: {RA_M_ACCENT};
}
.topic_unread,
.topic_unread_mine,
.topic_unread_locked,
.topic_unread_locked_mine,
.topic_unread_hot,
.topic_unread_hot_mine,
.sticky_unread,
.sticky_unread_locked,
.sticky_unread_locked_mine,
.sticky_unread_mine,
.announce_unread,
.announce_unread_locked,
.announce_unread_locked_mine,
.announce_unread_mine,
.global_unread,
.global_unread_locked,
.global_unread_locked_mine,
.global_unread_mine {
  color: #fafafa;
}
.topic_unread div,
.topic_unread_mine div,
.topic_unread_locked div,
.topic_unread_locked_mine div,
.topic_unread_hot div,
.topic_unread_hot_mine div,
.sticky_unread div,	
.sticky_unread_locked div,
.sticky_unread_locked_mine div,
.sticky_unread_mine div,
.announce_unread div,
.announce_unread_locked div,
.announce_unread_locked_mine div,
.announce_unread_mine div,
.global_unread div,
.global_unread_locked div,
.global_unread_locked_mine div,
.global_unread_mine div {
  background-color: #D32F2F;
}
.forum-bg li:hover .topic_unread div,
.forum-bg li:hover .topic_unread_mine div,
.forum-bg li:hover .topic_unread_locked div,
.forum-bg li:hover .topic_unread_locked_mine div,
.forum-bg li:hover .topic_unread_hot div,
.forum-bg li:hover .topic_unread_hot_mine div,
.forum-bg li:hover .sticky_unread div,	
.forum-bg li:hover .sticky_unread_locked div,
.forum-bg li:hover .sticky_unread_locked_mine div,
.forum-bg li:hover .sticky_unread_mine div,
.forum-bg li:hover .announce_unread div,
.forum-bg li:hover .announce_unread_locked div,
.forum-bg li:hover .announce_unread_locked_mine div,
.forum-bg li:hover .announce_unread_mine div,
.forum-bg li:hover .global_unread div,
.forum-bg li:hover .global_unread_locked div,
.forum-bg li:hover .global_unread_locked_mine div,
.forum-bg li:hover .global_unread_mine div {
  background-color: #F44336;
}
<!-- IF RA_POSTER_COLUMN -->
.postbody {
  background-color: #ffffff;
  border-color: #EEE;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
.reported .postbody {
  border-color: #FFCFDB;
}
.unapproved .postbody {
  border-color: #FFCFBD;
}
<!-- ELSE -->
.postbody {
  background-color: #fff;
  border-color: #f0f0f0;
  border-width: 0 0 0 1px;
}
.rtl .postbody {
  border-width: 0 1px 0 0;
}
.pm-self .postbody {
  border-width: 0 1px 0 0;
}
.rtl .pm-self .postbody {
  border-width: 0 0 0 1px;
}
.pm .postprofile,
.pm-self .postprofile {
  width: 53px;
}
@media (min-width: 701px) {
  .postprofile {
    padding: 18px;
  }
  .pm .postprofile,
  .pm-self .postprofile{
    padding: 18px 9px;
  }
}
@media (min-width: 601px) and (max-width: 700px) {
  .postprofile,
  .pm-self .postprofile {
    width: 53px;
  }
}
.post {
  background-color: #fcfcfc;
  border-color: #EEE;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
.post.reported {
  border-color: #FFCFDB;
}
.post.unapproved {
  border-color: #FFCFBD;
}
@media (max-width: 600px) {
  .pm .postprofile,
  .pm-self .postprofile {
    margin: 0;
  }
}
<!-- ENDIF -->
.post-deleted-notice input,
.post-unapproved-notice input {
  background-color: #f0f0f0;
  color: {RA_T};
}
.post-reported-notice {
  background-color: #FFCFDB;
}
.attachbox {
  background-color: #fcfcfc;
  border-color: #dbdbdb;
}
.g-image:after {
  background-color: rgba(0, 0, 0, 0.6);
}
.g-image:before {
  color: #FAFAFA;
}
.poster-online {
  background-color: #388E3C;
  border-color: #ffffff;
}
.dropdown-profile {
  background-color: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.24);
}
.dropdown-profile .profile-contact {
  background-color: #fcfcfc;
  border-color: #f0f0f0;
}
.member-online {
  color: #388E3C;
}
.post-number {
  color: #d8d8d8;
}
.post-number:visited {
  color: #d8d8d8;
}
.post-number:hover {
  color: {RA_M_ACCENT};
}
.post-number:active {
  color: {RA_T_ACCENT_B};
}
.post-signature {
  border-color: #f0f0f0;
}
.post-actions {
  background-color: #fcfcfc;
  border-color: #f0f0f0;
}
.post-date {
  color: #d8d8d8;
}
.post-date:hover {
  color: {RA_M_ACCENT};
}
.post-date a {
  color: #d8d8d8;
}
.post-date a:visited {
  color: #d8d8d8;
}
.post-date a:hover {
  color: {RA_M_ACCENT};
}
.post-date a:active {
  color: {RA_T_ACCENT_B};
}
.avatar-none {
  background-color: #f0f0f0;
  color: #b2b2b2;
}
.avatar-none .username-coloured {
  color: #b2b2b2 !important;
}
.avatar-none .username-coloured:hover,
.avatar-none .username-coloured:active {
  color: #b2b2b2 !important;
}
.preview-signature {
  background-color: #ffffff;
  border-color: #EEE;
}
.dropdown-mega {
  background-color: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.24);
}
.dropdown-mega,
.dropdown-mega a {
  color: {RA_T};
}
.dropdown-box {
  background-color: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.24);
}
.dropdown-box .separator {
  border-color: #f0f0f0;
}
.dropdown-box,
.dropdown-box a,
.dropdown-box span {
  color: {RA_T};
}
.dropdown-box a:hover {
  background-color: #f0f0f0;
  color: {RA_T};
}
.dropdown-box a:hover span {
  color: {RA_T};
}
.dropdown-box a:active {
  background-color: {RA_S_ACCENT_B};
  color: #dbdbdb;
}
.dropdown-box a:active span {
  color: #dbdbdb;
}
.dropdown-box-big {
  background-color: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.24);
}
.dropdown-body,
.dropdown-body a {
  color: {RA_T};
}
.dropdown-body a:hover {
  background-color: #f0f0f0;
  color: {RA_T};
}
.dropdown-body a:active {
  background-color: {RA_S_ACCENT_B};
  color: #dbdbdb;
}
.dropdown-header {
  background-color: #f0f0f0;
  color: {RA_T};
}
.dropdown-header a {
  color: {RA_T};
}
.dropdown-header a:hover {
  color: {RA_M_ACCENT};
}
.dropdown-header a:active {
  color: #dbdbdb;
}
.dropdown-body li {
  border-color: #f0f0f0;
}
.dropdown-body .notification-title .username,
.dropdown-body .notification-title .username-coloured {
  color: {RA_T} !important;
}
.dropdown-body .notification-time {
  color: #b2b2b2;
}
.dropdown-body .notification-mark {
  background-color: {RA_M_ACCENT};
  color: #fafafa;
}
.dropdown-body .notification-mark:hover {
  background-color: {RA_M_ACCENT};
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.42);
  color: #fafafa;
}
.dropdown-body .notification-mark:active {
  background-color: {RA_M_ACCENT_B};
  box-shadow: none;
  color: #fafafa;
}
.dropdown-body .chosen-drop {
  background-color: transparent;
  box-shadow: none;
}
.dropdown-body select {
  background-color: transparent;
}
.dropdown-footer a,
.dropdown-footer input {
  background-color: #f0f0f0;
  color: {RA_T};
}
.dropdown-footer a:hover,
.dropdown-footer input:hover {
  background-color: {RA_M_ACCENT};
  color: #fafafa;
}
.dropdown-footer a:active,
.dropdown-footer input:active,
.dropdown-footer a:focus,
.dropdown-footer input:focus {
  background-color: {RA_S_ACCENT};
  color: #fafafa;
}
.live-search .search-result {
  color: {RA_T};
}
.live-search .search-result:hover {
  background-color: #f0f0f0;
  color: {RA_T};
}
.live-search .search-result:active {
  background-color: {RA_S_ACCENT_B};
  color: #dbdbdb;
}
.input {
  background-color: transparent;
  border-color: #dbdbdb;
  color: {RA_T};
}
.input:hover {
  border-color: {RA_M_ACCENT};
}
.input:focus {
  border-color: {RA_M_ACCENT_B};
  outline: none;
}
input:invalid {
  border-color: #FF0000 !important;
  box-shadow: 0 2px 0 #FF0000;
  outline: none;
}
span.radio {
  background-color: transparent;
  border-color: {RA_S_ACCENT};
}
input.radio:checked + span.radio {
  background-color: {RA_S_ACCENT};
}
label:hover > span.radio {
  border-color: {RA_M_ACCENT};
}
label:hover > input.radio:checked + span.radio {
  background-color: {RA_M_ACCENT};
  border-color: {RA_M_ACCENT};
}
label:active > span.radio {
  background-color: {RA_S_ACCENT} !important;
  border-color: {RA_S_ACCENT} !important;
}
input.radio:disabled + span.radio,
label:active > input.radio:disabled + span.radio {
  background-color: transparent !important;
  border-color: #b2b2b2 !important;
}
span.radio-full {
  background-color: transparent;
}
span.radio-full:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.42);
}
span.radio-full:active {
  background-color: #f0f0f0;
  box-shadow: none;
}
input.radio-full:checked + span.radio-full {
  background-color: #f0f0f0;
  box-shadow: none;
}
span.check {
  background-color: transparent;
  border-color: {RA_S_ACCENT};
}
span.check:after {
  color: #fafafa;
}
input.check:checked + span.check {
  background-color: {RA_S_ACCENT};
}
label:hover > span.check {
  border-color: {RA_M_ACCENT};
}
label:hover > input.check:checked + span.check {
  background-color: {RA_M_ACCENT};
  border-color: {RA_M_ACCENT};
}
label:active > span.check {
  background-color: {RA_S_ACCENT} !important;
  border-color: {RA_S_ACCENT} !important;
}
.button,
a.button {
  background-color: {RA_M_ACCENT};
  color: #fafafa;
}
.button:hover,
a.button:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.42);
}
.button:focus,
.button:active,
a.button:active {
  background-color: {RA_M_ACCENT_B};
  box-shadow: none;
}
.open > .button {
  background-color: {RA_M_ACCENT_B} !important;
  box-shadow: none !important;
}
.button-flat,
a.button-flat {
  background-color: transparent;
  color: {RA_T};
}
.button-flat:hover,
a.button-flat:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.42);
}
.button-flat:focus,
.button-flat:active,
a.button-flat:active {
  background-color: #f0f0f0;
  box-shadow: none;
}
.button-round,
a.button-round {
  background-color: transparent;
  color: {RA_T};
}
.button-round:hover,
a.button-round:hover {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.42);
}
.button-round:focus,
.button-round:active,
a.button-round:active {
  background-color: #f0f0f0;
  box-shadow: none;
}
.open > .button-round {
  background-color: #f0f0f0 !important;
  box-shadow: none !important;
}
.button-multiple a {
  background-color: {RA_M_ACCENT};
  color: #fafafa;
}
.button-multiple a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.42);
}
.button-multiple a:active {
  background-color: {RA_M_ACCENT_B};
  box-shadow: none;
}
.footer-text a {
  color: #b2b2b2 !important;
}
.footer-text a:hover {
  color: #fafafa !important;
}
.statistics,
.member-statistics {
  border-color: #dbdbdb;
}
.birthdays:before {
  color: rgba(0, 0, 0, 0.06);
}
.username:hover,
.username-coloured:hover {
  color: {RA_M_ACCENT} !important;
}
.username:active,
.username-coloured:active {
  color: {RA_T_ACCENT_B} !important;
}
.rc-posts-out {
  background-color: rgba(0, 0, 0, 0.12);
}
.rc-link:after {
  background-color: {RA_S_ACCENT_B};
}
.rc-hr {
  border-color: rgba(0, 0, 0, 0.24);
}
.quickreply-box {
  background-color: #ffffff;
  border-color: #EEE;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
.quickreply-buttons {
  background-color: #fcfcfc;
  border-color: #f0f0f0;
}
.quickreply-buttons button {
  background-color: transparent;
  color: {RA_T};
  display: inline-block;
}
.dimmed {
  color: #b2b2b2;
}
blockquote {
  background-color: #fcfcfc;
  border-color: #f0f0f0;
}
.codebox {
  background-color: #fcfcfc;
  border-color: #f0f0f0;
}
.post-content {
  border-color: #f0f0f0;
}
.posthilit {
  background-color: {RA_M_ACCENT};
  color: #fafafa;
}
.details dt {
  color: #b2b2b2;
}
.faq dt {
  color: #b2b2b2;
}
.form dt span {
  color: {RA_T};
}
.form dt p {
  color: #b2b2b2;
}
.poll-option-title span.votes {
  color: #b2b2b2;
}
.poll-option-resultbar {
  background-color: rgba(0, 0, 0, 0.03);
}
.poll-option-resultbar div {
  background-color: {RA_M_ACCENT};
}
.background-main {
  background-color: {RA_BG_F};
}
.background-deep {
  background-color: {RA_BG_S};
  color: {RA_T_ACCENT};
}
.background-deep h3,
.background-deep h3 a {
  color: {RA_T_ACCENT};
}
.background-deep h3 a:hover {
  color: {RA_M_ACCENT};
}
.background-deep h3 a:active {
  color: {RA_T_ACCENT_B};
}
.background-normal {
  background-color: {RA_BG_F};
  color: {RA_T_ACCENT};
}
.background-normal h3,
.background-normal h3 a {
  color: {RA_T_ACCENT};
}
.background-normal h3 a:hover {
  color: {RA_M_ACCENT};
}
.background-normal h3 a:active {
  color: {RA_T_ACCENT_B};
}
.important-box {
  background-color: #ffffff;
  border-color: #FFC3C3;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.important-box-link a {
  background-color: #ffffff;
  border-color: #FFC3C3;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  color: {RA_T};
}
.important-box-link a:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: {RA_T};
}
.important-box-link a:active {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  box-shadow: none;
  color: {RA_T};
}
.modal-content {
  background-color: #ffffff;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.13);
}
.modal-body .w-input {
  color: #b2b2b2;
}
.modal-backdrop {
  background-color: rgba(48, 89, 122, 0.6);
}
.modal-close,
.modal-bb-close {
  background-color: transparent;
  color: {RA_T};
}
.error {
  color: #F44336;
}
.notification-unread {
  background-color: #F44336;
}
#darkenwrapper {
  background-color: rgba(48, 89, 122, 0.6);
}
.modal-bb-content {
  background-color: #ffffff;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.13);
}
.chosen-single {
  border-bottom-color: #dbdbdb;
  color: {RA_T};
}
.chosen-single:hover {
  border-bottom-color: {RA_M_ACCENT};
  color: {RA_T};
}
.chosen-single:focus {
  border-color: {RA_M_ACCENT_B};
  color: {RA_T};
}
.chosen-choices:hover input {
  border-bottom-color: {RA_M_ACCENT};
  color: {RA_T};
}
.chosen-choices:focus input {
  border-color: {RA_M_ACCENT_B};
  color: {RA_T};
}
.search-field input {
  background-color: transparent;
  border-bottom-color: #dbdbdb;
  color: {RA_T};
}
.search-field input:hover {
  border-bottom-color: {RA_M_ACCENT};
  color: {RA_T};
}
.search-field input:focus {
  border-color: {RA_M_ACCENT_B};
  color: {RA_T};
}
.search-choice {
  background-color: {RA_S_ACCENT};
  color: #fafafa;
}
.search-choice-close {
  color: #fafafa;
}
.chosen-drop {
  background-color: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.24);
}
.chosen-drop {
  color: {RA_T};
}
.chosen-drop li {
  color: {RA_T};
}
.chosen-drop li:hover {
  background-color: #f0f0f0;
  color: {RA_T};
}
.chosen-drop li:active {
  background-color: {RA_S_ACCENT_B};
  color: #dbdbdb;
}
.chosen-drop li.result-selected {
  color: #b2b2b2;
}
.chosen-drop li.result-selected:hover,
.chosen-drop li.result-selected:active {
  color: #b2b2b2;
  background-color: transparent;
}
.chosen-search input {
  background-color: #f0f0f0;
}
.group-result,
.group-result:hover,
.group-result:active {
  background-color: #f0f0f0 !important;
  color: {RA_T} !important;
}
#message-box {
  background-color: #ffffff;
  border-color: #EEE;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
#format-buttons {
  background-color: #fcfcfc;
  border-color: #f0f0f0;
}
#format-buttons input,
#format-buttons .chosen-single,
#format-buttons .smilies-button > span {
  background-color: transparent;
  color: {RA_T};
}
#format-buttons input:hover,
#format-buttons .chosen-single:hover,
#format-buttons .smilies-button > span:hover {
  background-color: {RA_M_ACCENT};
  color: #fafafa;
}
.smilies-box {
  background-color: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.24);
}
#cp-menu > ul {
  background-color: #ffffff;
  border-color: #EEE;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
#cp-menu a {
  color: {RA_T};
}
#cp-menu a:hover {
  background-color: #f0f0f0;
}
#cp-menu #active-subsection > a {
  background-color: #f0f0f0;
}
.cp-sidebar-block {
  background-color: #ffffff;
  border-color: #EEE;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
.cp-sidebar-block button {
  background-color: transparent;
  color: #4CAF50;
}
.pm-legend.pm_marked_colour:before {
  background-color: {RA_M_ACCENT};
}
.pm-legend.pm_replied_colour:before {
  background-color: #616161;
}
.pm-legend.pm_friend_colour:before {
  background-color: #388E3C;
}
.pm-legend.pm_foe_colour:before {
  background-color: #D32F2F;
}
.cp-rec-list button {
  background-color: transparent;
  color: #F44336;
}
.cp-list {
  border-color: #EEE;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
.cp-list h3 {
  background-color: {RA_S_ACCENT};
  color: #fafafa;
}
.cp-list h3 a {
  color: #fafafa;
}
.cp-list h3 a:hover {
  color: #dbdbdb;
}
.cp-list h3 a:active {
  color: {RA_T_ACCENT_B};
}
.cp-list h4,
.cp-list h4 a {
  color: {RA_T_ACCENT};
}
.cp-list h4 a:hover {
  color: {RA_M_ACCENT};
}
.cp-list h4 a:active {
  color: {RA_T_ACCENT_B};
}
.cp-list li {
  background-color: #ffffff;
}
.cp-list li + li {
  border-color: #f0f0f0;
}
.cp-list dfn {
  color: #dbdbdb;
}
.cp-list li:hover .cp-list-icon {
  color: #fafafa;
}
.cp-list li:hover .cp-list-icon div {
  background-color: {RA_M_ACCENT};
}
label.cp-list-mark {
  background-color: {RA_M_ACCENT};
  color: #fafafa;
}
label.cp-list-mark:active {
  background-color: {RA_S_ACCENT};
}
input.cp-list-mark:checked + label.cp-list-mark {
  background-color: {RA_S_ACCENT};
}
.pm_unread {
  color: #fafafa;
}
.pm_unread div {
  background-color: #D32F2F;
}
.pm_marked_colour .cp-list-icon,
.pm_replied_colour .cp-list-icon,
.pm_friend_colour .cp-list-icon,
.pm_foe_colour .cp-list-icon {
  color: #fafafa;
}
.pm_marked_colour .cp-list-icon div {
  background-color: {RA_M_ACCENT};
}
.pm_replied_colour .cp-list-icon div {
  background-color: #616161;
}
.pm_friend_colour .cp-list-icon div {
  background-color: #388E3C;
}
.pm_foe_colour .cp-list-icon div {
  background-color: #D32F2F;
}
.cp-list li:hover .pm_unread div {
  background-color: #F44336;
}
.table {
  border-color: #EEE;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
.table th {
  background-color: {RA_S_ACCENT};
  color: #fafafa;
}
.table th a {
  color: #fafafa;
}
.table th a:hover {
  color: #dbdbdb;
}
.table th a:active {
  color: {RA_T_ACCENT_B};
}
.table tr + tr {
  border-color: #f0f0f0;
}
.table td {
  background-color: #ffffff;
}
.table .table-group td {
  background-color: #f0f0f0;
}
@media (max-width: 700px) {
  .fora-description-inner p {
    color: #b2b2b2;
  }
}
#back-to-top {
  background-color: {RA_M_ACCENT};
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.42);
  color: #fafafa;
}
#back-to-top:hover {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}
#back-to-top:active {
  background-color: {RA_M_ACCENT_B};
}
<!-- ELSE -->
<!-- IF RA_HEAD_OTHER_IMG -->
body:not(.section-index) #wrap-inner {
  background-image: url("./styles/ravaio/theme/images/{RA_HEAD_OTHER_IMG}");
}
<!-- ENDIF -->
@media (min-width: 701px) {
  .postprofile {
	padding-right: 18px;
    width: {RA_POSTER_WIDTH};
  }
  .postbody {
    margin-left: {RA_POSTER_WIDTH};
  }
  .rtl .postprofile {
	padding-left: 18px;
	padding-right: 0;
  }
  .rtl .postbody {
    margin-right: {RA_POSTER_WIDTH};
    margin-left: 0;
  }
}
@media (max-width: 700px) {
  .standard-profile {
	display: none;
  }
}
<!-- IF RA_POSTER_STYLE eq 1 -->
.post-actions {
  clear: both;
}
<!-- ENDIF -->
<!-- IF RA_AV_STYLE eq 1 -->
.avatar-none,
.avatar > img {
  border-radius: 2px;
}
<!-- ELSEIF RA_AV_STYLE eq 2 -->
.avatar-none,
.avatar > img {
  border-radius: 0;
}
<!-- ENDIF -->
<!-- IF RA_LAYOUT eq 0 -->
body {
  padding: 18px;
}
#wrap {
  border-radius: 2px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.24);
  margin: 0 auto;
  max-width: {RA_WIDTH};
}
#wrap-inner{
  background-color: {RA_S_ACCENT_B};
  border-radius: 2px;
}
.chunk {
  padding: 0 36px;
}
.chunk-inner {
  padding: 0 18px;
}
#wrap-header,
#wrap-header-index {
  border-radius: 2px 2px 0 0;
}
.is-sticky #wrap-header,
.is-sticky #wrap-header-index {
  border-radius: 0;
}
#site-desc-full,
#site-desc-small {
  border-radius: 2px 2px 0 0;
}
#wrap-footer {
  border-radius: 0 0 2px 2px;
}
#information {
  border-radius: 2px 2px 0 0;
}
<!-- ENDIF -->
<!-- IF not RA_HEAD_TYPE -->
<!-- IF RA_LAYOUT eq 1 -->
.is-sticky #wrap-header,
.is-sticky #wrap-header-index {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.42);
}
<!-- ELSE -->
.is-sticky #wrap-header,
.is-sticky #wrap-header-index {
  border-radius: 0;
  box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.42);
}
<!-- ENDIF -->
.anchor {
  margin-top: -56px;
  padding-top: 56px;
}
<!-- ENDIF -->
.chunk,
.chunk-inner {
  max-width: {RA_WIDTH};	
}
body,
html {
  background-color: {RA_BG_F};
  color: {RA_T};
}
select {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.09);
}
a,
a:visited {
  color: {RA_T_ACCENT};
}
a:hover {
  color: {RA_M_ACCENT};
}
a:active {
  color: {RA_T_ACCENT_B};
}
#wrap-header {
  background-color: {RA_HEAD_OTHER_BG};
}
#wrap-header-index {
  background-color: {RA_HEAD_INDEX_BG};
}
.is-sticky #wrap-header,
.is-sticky #wrap-header-index {
  background-color: {RA_HEAD_BG};
}
.site-header,
.site-header a,
.site-header span {
  color: #fafafa;
}
.site-header a:hover,
.site-header span:hover {
  color: #dbdbdb;
}
.site-header a:active,
.site-header span:active {
  color: #b2b2b2;
}
#breadcrumbs li:before {
  color: rgba(0, 0, 0, 0.3);
}
.site-nav .count {
  background-color: #F44336;
  color: #fafafa;
}
#header-avatar > span {
  background-color: rgba(0, 0, 0, 0.24);
  color: #fafafa !important;
}
#header-avatar:hover > span {
  background-color: #dbdbdb;
  color: {RA_T_ACCENT_B} !important;
}
#header-avatar:active > span {
  background-color: #b2b2b2;
  color: {RA_T_ACCENT_B} !important;
}
.open #header-avatar > span {
  background-color: #b2b2b2;
  color: {RA_T_ACCENT_B} !important;
}
#header-avatar img {
  border-color: rgba(0, 0, 0, 0.24);
}
#header-avatar:hover img {
  border-color: #dbdbdb;
}
#header-avatar:active img {
  border-color: #b2b2b2;
}
.open #header-avatar img {
  border-color: #b2b2b2;
}
#header-mini-menu {
  background-color: rgba(0, 0, 0, 0.24);
  color: #fafafa;
}
#header-mini-menu:hover {
  background-color: #dbdbdb;
  color: {RA_T} !important;
}
#header-mini-menu:active {
  background-color: #b2b2b2;
  color: {RA_T} !important;
}
.open > #header-mini-menu {
  background-color: #b2b2b2;
  color: {RA_T} !important;
}
#wrap-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  background-color: {RA_S_ACCENT_B};
  color: #b2b2b2;
}
#wrap-footer a,
#wrap-footer a:visited {
  color: #fafafa;
}
#wrap-footer a:hover {
  color: #dbdbdb;
}
#wrap-footer a:active {
  color: #13191c;
}
.background-main .box-normal {
  background-color: #222222;
  border-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
  color: {RA_T};
}
.background-main .box-normal .strong-head {
  border-color: rgba(0, 0, 0, 0.06);
}
.background-deep .box-normal {
  background-color: #1C1C1C;
  border-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
  color: #4c4c4c;
}
.background-deep .box-normal .strong-head {
  border-color: rgba(0, 0, 0, 0.06);
}
#information {
  background-color: #F44336;
  color: #fafafa;
}
#site-desc-full,
#site-desc-small {
<!-- IF RA_HEAD_INDEX_IMG -->  background-image: url("./styles/ravaio/theme/images/{RA_HEAD_INDEX_IMG}");<!-- ENDIF -->
  background-color: {RA_S_ACCENT_B};
}
#site-desc-full h1,
#site-desc-small h1 {
  color: #fafafa;
}
#site-desc-full h2,
#site-desc-small h2 {
  color: #fafafa;
}
#sub-header {
  background-color: {RA_SUB_HEAD_BG};
}
.sub-header-title {
  color: #fafafa;
}
.sub-header-title a,
.sub-header-title a:visited {
  color: #fafafa;
}
.sub-header-title a:hover {
  color: #dbdbdb;
}
.sub-header-title a:active {
  color: #13191c;
}
.sub-header-title p {
  color: #b2b2b2;
}
.sub-header-buttons .button-round {
  color: #fafafa;
}
.sub-header-buttons .button-round:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fafafa;
}
.sub-header-buttons .button-round:active {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fafafa;
}
.sub-header-buttons .open > .button-round {
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: #fafafa !important;
}
.sub-header-buttons .chosen-single {
  color: #fafafa;
}
.sub-header-buttons .chosen-single:hover,
.sub-header-buttons .chosen-single:active {
  color: #fafafa;
}
#main-search-box-md input,
#main-search-box-md button {
	background-color: #2C2C2C;
}
.sidebar-block {
  background-color: #222222;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
  border-color: rgba(255, 255, 255, 0.03);
}
.dropdown-search {
  background-color: #222222;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.24);
}
.dropdown-search input {
  background-color: #2C2C2C;
  color: {RA_T};
}
.dropdown-search button {
  background-color: transparent;
  color: {RA_T};
}
.action-bar-top {
  border-bottom-color: rgba(255, 255, 255, 0.03);
}
.action-bar-bottom {
  border-top-color: rgba(255, 255, 255, 0.03);
}
.pagination li a:hover,
.pagination li span:hover {
  background-color: #222222;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.42);
  color: {RA_T};
}
.pagination li a:active,
.pagination li span:active {
  background-color: #2C2C2C;
  box-shadow: none;
  color: {RA_T};
}
.pagination .ellipsis span:hover {
  background-color: transparent;
  box-shadow: none;
}
.pagination .ellipsis span:active {
  background-color: transparent;
}
.pagination .active span {
  background-color: #2C2C2C;
}
.pagination .active span:hover {
  background-color: #2C2C2C;
  box-shadow: none;
}
.pagination-small li a,
.pagination-small li span {
  border-color: rgba(255, 255, 255, 0.03);
}
.member-search {
  background-color: {RA_S_ACCENT};
}
.member-search a {
  color: #fafafa;
}
.member-search a:visited {
  color: #fafafa;
}
.search-box input {
  border-color: {RA_S_ACCENT};
}
.search-box input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.18);
}
.search-box input:hover {
  border-color: {RA_M_ACCENT};
}
.search-box input:focus {
  border-color: {RA_M_ACCENT};
}
.search-box input,
.search-box button {
  background-color: transparent;
  color: #fafafa;
}
.fora-bg {
  border-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
.fora-bg h3 {
  background-color: {RA_S_ACCENT};
  color: #fafafa;
}
.fora-bg h3 a {
  color: #fafafa;
}
.fora-bg h3 a:hover {
  color: #dbdbdb;
}
.fora-bg h3 a:active {
  color: {RA_T_ACCENT_B};
}
.fora-bg h4,
.fora-bg h4 a {
  color: {RA_T_ACCENT};
}
.fora-bg h4 a:hover {
  color: {RA_M_ACCENT};
}
.fora-bg h4 a:active {
  color: {RA_T_ACCENT_B};
}
.fora-bg li {
  background-color: #222222;
}
.fora-bg li:after {
  background-color: rgba(255, 255, 255, 0.03);
}
.fora-bg dfn {
  color: #dbdbdb;
}
.fora-icon {
  color: {RA_T_ACCENT};
}
.fora-icon div {
  background-color: transparent;
}
.fora-bg li:hover .fora-icon {
  color: #fafafa;
}
.fora-bg li:hover .fora-icon div {
  background-color: {RA_M_ACCENT};
}
.feed-icon {
  color: #dbdbdb;
}
.feed-icon:visited {
  color: #dbdbdb;
}
.feed-icon:hover,
.feed-icon:active {
  color: #FF9800;
}
.forum_unread,
.forum_unread_locked,
.forum_unread_subforum {
  color: #fafafa;
}
.forum_unread div,
.forum_unread_locked div,
.forum_unread_subforum div {
  background-color: #D32F2F;
}
.fora-bg li:hover .forum_unread div,
.fora-bg li:hover .forum_unread_locked div,
.fora-bg li:hover .forum_unread_subforum div {
  background-color: #F44336;
}
.fora-stats-sm {
  color: #b2b2b2;
}
.subforums-list:after {
  color: {RA_T};
}
.fora-unapproved-icon {
  color: #FF9800;
}
.fora-unapproved-icon:visited {
  color: #FF9800;
}
.fora-unapproved-icon:hover {
  color: {RA_M_ACCENT};
}
.fora-unapproved-icon:active {
  color: {RA_T_ACCENT_B};
}
.forum-bg {
  border-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
.forum-bg h3 {
  background-color: {RA_S_ACCENT};
  color: #fafafa;
}
.forum-bg h3 a {
  color: #fafafa;
}
.forum-bg h3 a:hover {
  color: #dbdbdb;
}
.forum-bg h3 a:active {
  color: {RA_T_ACCENT_B};
}
.forum-bg h4,
.forum-bg h4 a {
  color: {RA_T_ACCENT};
}
.forum-bg h4 a:hover {
  color: {RA_M_ACCENT};
}
.forum-bg h4 a:active {
  color: {RA_T_ACCENT_B};
}
.forum-bg li {
  background-color: #222222;
}
.forum-bg ol > li + li {
  border-color: rgba(255, 255, 255, 0.03);
}
.forum-bg dfn {
  color: #dbdbdb;
}
.forum-bg .reported {
  background-color: #2C2222;
}
.forum-bg .deleted {
  background-color: #1F1F1F;
}
.forum-bg .deleted:hover {
  background-color: #222222;
}
.topic-icon {
  color: {RA_T_ACCENT};
}
.topic-icon div {
  background-color: transparent;
}
.topic-stats-sm {
  color: #b2b2b2;
}
.topic-unapproved-icon {
  color: #FF9800;
}
.topic-deleted-icon {
  color: #009688;
}
.topic-reported-icon {
  color: #F44336;
}
.forum-bg li:hover .topic-icon {
  color: #fafafa;
}
.forum-bg li:hover .topic-icon div {
  background-color: {RA_M_ACCENT};
}
.topic_unread,
.topic_unread_mine,
.topic_unread_locked,
.topic_unread_locked_mine,
.topic_unread_hot,
.topic_unread_hot_mine,
.sticky_unread,
.sticky_unread_locked,
.sticky_unread_locked_mine,
.sticky_unread_mine,
.announce_unread,
.announce_unread_locked,
.announce_unread_locked_mine,
.announce_unread_mine,
.global_unread,
.global_unread_locked,
.global_unread_locked_mine,
.global_unread_mine {
  color: #fafafa;
}
.topic_unread div,
.topic_unread_mine div,
.topic_unread_locked div,
.topic_unread_locked_mine div,
.topic_unread_hot div,
.topic_unread_hot_mine div,
.sticky_unread div,	
.sticky_unread_locked div,
.sticky_unread_locked_mine div,
.sticky_unread_mine div,
.announce_unread div,
.announce_unread_locked div,
.announce_unread_locked_mine div,
.announce_unread_mine div,
.global_unread div,
.global_unread_locked div,
.global_unread_locked_mine div,
.global_unread_mine div {
  background-color: #D32F2F;
}
.forum-bg li:hover .topic_unread div,
.forum-bg li:hover .topic_unread_mine div,
.forum-bg li:hover .topic_unread_locked div,
.forum-bg li:hover .topic_unread_locked_mine div,
.forum-bg li:hover .topic_unread_hot div,
.forum-bg li:hover .topic_unread_hot_mine div,
.forum-bg li:hover .sticky_unread div,	
.forum-bg li:hover .sticky_unread_locked div,
.forum-bg li:hover .sticky_unread_locked_mine div,
.forum-bg li:hover .sticky_unread_mine div,
.forum-bg li:hover .announce_unread div,
.forum-bg li:hover .announce_unread_locked div,
.forum-bg li:hover .announce_unread_locked_mine div,
.forum-bg li:hover .announce_unread_mine div,
.forum-bg li:hover .global_unread div,
.forum-bg li:hover .global_unread_locked div,
.forum-bg li:hover .global_unread_locked_mine div,
.forum-bg li:hover .global_unread_mine div {
  background-color: #F44336;
}
<!-- IF RA_POSTER_COLUMN -->
.postbody {
  background-color: #222222;
  border-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
.reported .postbody {
  border-color: #FFCFDB;
}
.unapproved .postbody {
  border-color: #FFCFBD;
}
<!-- ELSE -->
.postbody {
  background-color: #2C2C2C;
  border-color: rgba(255, 255, 255, 0.03);
  border-width: 0 0 0 1px;
}
.rtl .postbody {
  border-width: 0 1px 0 0;
}
.pm-self .postbody {
  border-width: 0 1px 0 0;
}
.rtl .pm-self .postbody {
  border-width: 0 0 0 1px;
}
.pm .postprofile,
.pm-self .postprofile {
  width: 53px;
}
@media (min-width: 701px) {
  .postprofile {
    padding: 18px;
  }
  .pm .postprofile,
  .pm-self .postprofile{
    padding: 18px 9px;
  }
}
@media (min-width: 601px) and (max-width: 700px) {
  .postprofile,
  .pm-self .postprofile {
    width: 53px;
  }
}
.post {
  background-color: #1F1F1F;
  border-color: rgba(255, 255, 255, 0.03);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
.post.reported {
  border-color: #FFCFDB;
}
.post.unapproved {
  border-color: #FFCFBD;
}
@media (max-width: 600px) {
  .pm .postprofile,
  .pm-self .postprofile {
    margin: 0;
  }
}
<!-- ENDIF -->
.post-deleted-notice input,
.post-unapproved-notice input {
  background-color: #2C2C2C;
  color: {RA_T};
}
.post-reported-notice {
  background-color: #FFCFDB;
}
.attachbox {
  background-color: #1F1F1F;
  border-color: rgba(255, 255, 255, 0.03);
}
.g-image:after {
  background-color: rgba(0, 0, 0, 0.6);
}
.g-image:before {
  color: #FAFAFA;
}
.poster-online {
  background-color: #388E3C;
  border-color: #1C1C1C;
}
.dropdown-profile {
  background-color: #222222;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.24);
}
.dropdown-profile .profile-contact {
  background-color: #1F1F1F;
  border-color: rgba(255, 255, 255, 0.03);
}
.member-online {
  color: #388E3C;
}
.post-number {
  color: #d8d8d8;
}
.post-number:visited {
  color: #d8d8d8;
}
.post-number:hover {
  color: {RA_M_ACCENT};
}
.post-number:active {
  color: {RA_T_ACCENT_B};
}
.post-signature {
  border-color: rgba(255, 255, 255, 0.03);
}
.post-actions {
  background-color: #1F1F1F;
  border-color: rgba(255, 255, 255, 0.03);
}
.post-date {
  color: #d8d8d8;
}
.post-date:hover {
  color: {RA_M_ACCENT};
}
.post-date a {
  color: #d8d8d8;
}
.post-date a:visited {
  color: #d8d8d8;
}
.post-date a:hover {
  color: {RA_M_ACCENT};
}
.post-date a:active {
  color: {RA_T_ACCENT_B};
}
.avatar-none {
  background-color: #2C2C2C;
  color: #b2b2b2;
}
.avatar-none .username-coloured {
  color: #b2b2b2 !important;
}
.avatar-none .username-coloured:hover,
.avatar-none .username-coloured:active {
  color: #b2b2b2 !important;
}
.preview-signature {
  background-color: #222222;
  border-color: rgba(255, 255, 255, 0.03);
}
.dropdown-box, 
.dropdown-box2 {
  background-color: #222222;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.24);
}
.dropdown-box .separator {
  border-color: rgba(255, 255, 255, 0.03);
}
.dropdown-box,
.dropdown-box a {
  color: {RA_T};
}
.dropdown-box a:hover,
.dropdown-box2 a:hover {
  background-color: #2C2C2C;
  color: {RA_T};
}
.dropdown-box a:active {
  background-color: {RA_S_ACCENT_B};
  color: #dbdbdb;
}
.dropdown-box-big {
  background-color: #222222;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.24);
}
.dropdown-body,
.dropdown-body a {
  color: {RA_T};
}
.dropdown-body a:hover {
  background-color: #2C2C2C;
  color: {RA_T};
}
.dropdown-body a:active {
  background-color: {RA_S_ACCENT_B};
  color: #dbdbdb;
}
.dropdown-header {
  background-color: #2C2C2C;
  color: {RA_T};
}
.dropdown-header a {
  color: {RA_T};
}
.dropdown-header a:hover {
  color: {RA_M_ACCENT};
}
.dropdown-header a:active {
  color: #dbdbdb;
}
.dropdown-body li {
  border-color: rgba(255, 255, 255, 0.03);
}
.dropdown-body .notification-title .username,
.dropdown-body .notification-title .username-coloured {
  color: {RA_T} !important;
}
.dropdown-body .notification-time {
  color: #b2b2b2;
}
.dropdown-body .notification-mark {
  background-color: {RA_M_ACCENT};
  color: #fafafa;
}
.dropdown-body .notification-mark:hover {
  background-color: {RA_M_ACCENT};
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.42);
  color: #fafafa;
}
.dropdown-body .notification-mark:active {
  background-color: {RA_M_ACCENT_B};
  box-shadow: none;
  color: #fafafa;
}
.dropdown-body .chosen-drop {
  background-color: transparent;
  box-shadow: none;
}
.dropdown-body select {
  background-color: transparent;
}
.dropdown-footer a,
.dropdown-footer input {
  background-color: #2C2C2C;
  color: {RA_T};
}
.dropdown-footer a:hover,
.dropdown-footer input:hover {
  background-color: {RA_M_ACCENT};
  color: #fafafa;
}
.dropdown-footer a:active,
.dropdown-footer input:active,
.dropdown-footer a:focus,
.dropdown-footer input:focus {
  background-color: {RA_S_ACCENT};
  color: #fafafa;
}
.live-search .search-result {
  color: {RA_T};
}
.live-search .search-result:hover {
  background-color: #2C2C2C;
  color: {RA_T};
}
.live-search .search-result:active {
  background-color: {RA_S_ACCENT_B};
  color: #dbdbdb;
}
.input {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.09);
  color: {RA_T};
}
.input:hover {
  border-color: {RA_M_ACCENT};
}
.input:focus {
  border-color: {RA_M_ACCENT_B};
  outline: none;
}
input:invalid {
  border-color: #FF0000 !important;
  box-shadow: 0 2px 0 #FF0000;
  outline: none;
}
span.radio {
  background-color: transparent;
  border-color: {RA_S_ACCENT};
}
input.radio:checked + span.radio {
  background-color: {RA_S_ACCENT};
}
label:hover > span.radio {
  border-color: {RA_M_ACCENT};
}
label:hover > input.radio:checked + span.radio {
  background-color: {RA_M_ACCENT};
  border-color: {RA_M_ACCENT};
}
label:active > span.radio {
  background-color: {RA_S_ACCENT} !important;
  border-color: {RA_S_ACCENT} !important;
}
input.radio:disabled + span.radio,
label:active > input.radio:disabled + span.radio {
  background-color: transparent !important;
  border-color: #b2b2b2 !important;
}
span.radio-full {
  background-color: transparent;
}
span.radio-full:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.42);
}
span.radio-full:active {
  background-color: #2C2C2C;
  box-shadow: none;
}
input.radio-full:checked + span.radio-full {
  background-color: #2C2C2C;
  box-shadow: none;
}
span.check {
  background-color: transparent;
  border-color: {RA_S_ACCENT};
}
span.check:after {
  color: #fafafa;
}
input.check:checked + span.check {
  background-color: {RA_S_ACCENT};
}
label:hover > span.check {
  border-color: {RA_M_ACCENT};
}
label:hover > input.check:checked + span.check {
  background-color: {RA_M_ACCENT};
  border-color: {RA_M_ACCENT};
}
label:active > span.check {
  background-color: {RA_S_ACCENT} !important;
  border-color: {RA_S_ACCENT} !important;
}
.button,
a.button {
  background-color: {RA_M_ACCENT};
  color: #fafafa;
}
.button:hover,
a.button:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.42);
}
.button:focus,
.button:active,
a.button:active {
  background-color: {RA_M_ACCENT_B};
  box-shadow: none;
}
.open > .button {
  background-color: {RA_M_ACCENT_B} !important;
  box-shadow: none !important;
}
.button-flat,
a.button-flat {
  background-color: transparent;
  color: {RA_T};
}
.button-flat:hover,
a.button-flat:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.42);
}
.button-flat:focus,
.button-flat:active,
a.button-flat:active {
  background-color: #2C2C2C;
  box-shadow: none;
}
.button-round,
a.button-round {
  background-color: transparent;
  color: {RA_T};
}
.button-round:hover,
a.button-round:hover {
  background-color: #222222;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.42);
}
.button-round:focus,
.button-round:active,
a.button-round:active {
  background-color: #2C2C2C;
  box-shadow: none;
}
.open > .button-round {
  background-color: #2c2c2c !important;
  box-shadow: none !important;
}
.button-multiple a {
  background-color: {RA_M_ACCENT};
  color: #fafafa;
}
.button-multiple a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.42);
}
.button-multiple a:active {
  background-color: {RA_M_ACCENT_B};
  box-shadow: none;
}
.statistics,
.member-statistics {
  border-color: rgba(255, 255, 255, 0.09);
}
.birthdays:before {
  color: rgba(0, 0, 0, 0.06);
}
.username:hover,
.username-coloured:hover {
  color: {RA_M_ACCENT} !important;
}
.username:active,
.username-coloured:active {
  color: {RA_T_ACCENT_B} !important;
}
.rc-posts-out {
  background-color: #161616;
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.rc-hr {
  border-color: rgba(255, 255, 255, 0.03);
}
.quickreply-box {
  background-color: #222222;
  border-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
.quickreply-buttons {
  background-color: #1F1F1F;
  border-color: rgba(255, 255, 255, 0.03);
}
.quickreply-buttons button {
  background-color: transparent;
  color: {RA_T};
  display: inline-block;
}
.quickreply-box textarea {
  background-color: #222222;
  color: {RA_T};
}
.dimmed {
  opacity: 0.6;
}
blockquote {
  background-color: #1F1F1F;
  border-color: rgba(255, 255, 255, 0.03);
}
.codebox {
  background-color: #1F1F1F;
  border-color: rgba(255, 255, 255, 0.03);
}
.post-content {
  border-color: rgba(255, 255, 255, 0.03);
}
.posthilit {
  background-color: {RA_M_ACCENT};
  color: #fafafa;
}
.details dt {
  color: #b2b2b2;
}
.faq dt {
  color: #b2b2b2;
}
.form dt span {
  color: {RA_T};
}
.form dt p {
  color: #b2b2b2;
}
.poll-option-title span.votes {
  color: #b2b2b2;
}
.poll-option-resultbar {
  background-color: rgba(0, 0, 0, 0.03);
}
.poll-option-resultbar div {
  background-color: {RA_M_ACCENT};
}
.background-main {
  background-color: {RA_BG_F};
}
.background-deep {
  background-color: {RA_BG_S};
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  color: {RA_T_ACCENT};
}
.background-deep h3,
.background-deep h3 a {
  color: {RA_T_ACCENT};
}
.background-deep h3 a:hover {
  color: {RA_M_ACCENT};
}
.background-deep h3 a:active {
  color: {RA_T_ACCENT_B};
}
.background-normal {
  background-color: {RA_BG_F};
  color: {RA_T_ACCENT};
}
.background-normal h3,
.background-normal h3 a {
  color: {RA_T_ACCENT};
}
.background-normal h3 a:hover {
  color: {RA_M_ACCENT};
}
.background-normal h3 a:active {
  color: {RA_T_ACCENT_B};
}
.important-box {
  background-color: #222222;
  border-color: #FFC3C3;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.important-box-link a {
  background-color: #222222;
  border-color: #FFC3C3;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  color: {RA_T};
}
.important-box-link a:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: {RA_T};
}
.important-box-link a:active {
  background-color: #2C2C2C;
  border-color: rgba(255, 255, 255, 0.03);
  box-shadow: none;
  color: {RA_T};
}
.modal-content {
  background-color: #222222;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.13);
}
.modal-body .w-input {
  color: #b2b2b2;
}
.modal-backdrop {
  background-color: rgba(48, 89, 122, 0.6);
}
.modal-close,
.modal-bb-close {
  background-color: transparent;
  color: {RA_T};
}
.error {
  color: #F44336;
}
.notification-unread {
  background-color: #F44336;
}
#darkenwrapper {
  background-color: rgba(48, 89, 122, 0.6);
}
.modal-bb-content {
  background-color: #222222;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.13);
}
.chosen-single {
  border-bottom-color: rgba(255, 255, 255, 0.09);
  color: {RA_T};
}
.chosen-single:hover {
  border-bottom-color: {RA_M_ACCENT};
  color: {RA_T};
}
.chosen-single:focus {
  border-color: {RA_M_ACCENT_B};
  color: {RA_T};
}
.chosen-choices:hover input {
  border-bottom-color: {RA_M_ACCENT};
  color: {RA_T};
}
.chosen-choices:focus input {
  border-color: {RA_M_ACCENT_B};
  color: {RA_T};
}
.search-field input {
  background-color: transparent;
  border-bottom-color: rgba(255, 255, 255, 0.09);
  color: {RA_T};
}
.search-field input:hover {
  border-bottom-color: {RA_M_ACCENT};
  color: {RA_T};
}
.search-field input:focus {
  border-color: {RA_M_ACCENT_B};
  color: {RA_T};
}
.search-choice {
  background-color: {RA_S_ACCENT};
  color: #fafafa;
}
.search-choice-close {
  color: #fafafa;
}
.chosen-drop {
  background-color: #222222;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.24);
}
.chosen-drop {
  color: {RA_T};
}
.chosen-drop li {
  color: {RA_T};
}
.chosen-drop li:hover {
  background-color: #2C2C2C;
  color: {RA_T};
}
.chosen-drop li:active {
  background-color: {RA_S_ACCENT_B};
  color: #dbdbdb;
}
.chosen-drop li.result-selected {
  color: #b2b2b2;
}
.chosen-drop li.result-selected:hover,
.chosen-drop li.result-selected:active {
  color: #b2b2b2;
  background-color: transparent;
}
.chosen-search input {
  background-color: #2C2C2C;
}
.group-result,
.group-result:hover,
.group-result:active {
  background-color: #2c2c2c !important;
  color: {RA_T} !important;
}
#message-box {
  background-color: #222222;
  border-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
#format-buttons {
  background-color: #1F1F1F;
  border-color: rgba(255, 255, 255, 0.03);
}
#format-buttons input,
#format-buttons .chosen-single,
#format-buttons .smilies-button > span {
  background-color: transparent;
  color: {RA_T};
}
#format-buttons input:hover,
#format-buttons .chosen-single:hover,
#format-buttons .smilies-button > span:hover {
  background-color: {RA_M_ACCENT};
  color: #fafafa;
}
.smilies-box {
  background-color: #222222;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.24);
}
#cp-menu > ul {
  background-color: #222222;
  border-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
#cp-menu a {
  color: {RA_T};
}
#cp-menu a:hover {
  background-color: #2C2C2C;
}
#cp-menu #active-subsection > a {
  background-color: #2C2C2C;
}
.cp-sidebar-block {
  background-color: #222222;
  border-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
.cp-sidebar-block button {
  background-color: transparent;
  color: #4CAF50;
}
.pm-legend.pm_marked_colour:before {
  background-color: {RA_M_ACCENT};
}
.pm-legend.pm_replied_colour:before {
  background-color: #616161;
}
.pm-legend.pm_friend_colour:before {
  background-color: #388E3C;
}
.pm-legend.pm_foe_colour:before {
  background-color: #D32F2F;
}
.cp-rec-list button {
  background-color: transparent;
  color: #F44336;
}
.cp-list {
  border-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
.cp-list h3 {
  background-color: {RA_S_ACCENT};
  color: #fafafa;
}
.cp-list h3 a {
  color: #fafafa;
}
.cp-list h3 a:hover {
  color: #dbdbdb;
}
.cp-list h3 a:active {
  color: {RA_T_ACCENT_B};
}
.cp-list h4,
.cp-list h4 a {
  color: {RA_T_ACCENT};
}
.cp-list h4 a:hover {
  color: {RA_M_ACCENT};
}
.cp-list h4 a:active {
  color: {RA_T_ACCENT_B};
}
.cp-list li {
  background-color: #222222;
}
.cp-list li + li {
  border-color: rgba(255, 255, 255, 0.03);
}
.cp-list dfn {
  color: #dbdbdb;
}
.cp-list li:hover .cp-list-icon {
  color: #fafafa;
}
.cp-list li:hover .cp-list-icon div {
  background-color: {RA_M_ACCENT};
}
label.cp-list-mark {
  background-color: {RA_M_ACCENT};
  color: #fafafa;
}
label.cp-list-mark:active {
  background-color: {RA_S_ACCENT};
}
input.cp-list-mark:checked + label.cp-list-mark {
  background-color: {RA_S_ACCENT};
}
.pm_unread {
  color: #fafafa;
}
.pm_unread div {
  background-color: #D32F2F;
}
.pm_marked_colour .cp-list-icon,
.pm_replied_colour .cp-list-icon,
.pm_friend_colour .cp-list-icon,
.pm_foe_colour .cp-list-icon {
  color: #fafafa;
}
.pm_marked_colour .cp-list-icon div {
  background-color: {RA_M_ACCENT};
}
.pm_replied_colour .cp-list-icon div {
  background-color: #616161;
}
.pm_friend_colour .cp-list-icon div {
  background-color: #388E3C;
}
.pm_foe_colour .cp-list-icon div {
  background-color: #D32F2F;
}
.cp-list li:hover .pm_unread div {
  background-color: #F44336;
}
.table {
  border-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.03);
}
.table th {
  background-color: {RA_S_ACCENT};
  color: #fafafa;
}
.table th a {
  color: #fafafa;
}
.table th a:hover {
  color: #dbdbdb;
}
.table th a:active {
  color: {RA_T_ACCENT_B};
}
.table tr + tr {
  border-color: rgba(255, 255, 255, 0.03);
}
.table td {
  background-color: #222222;
}
.table .table-group td {
  background-color: #2C2C2C;
}
@media (max-width: 700px) {
  .fora-description-inner p {
    color: #b2b2b2;
  }
}
#back-to-top {
  background-color: {RA_M_ACCENT};
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.42);
  color: #fafafa;
}
#back-to-top:hover {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}
#back-to-top:active {
  background-color: {RA_M_ACCENT_B};
}
<!-- ENDIF -->
</style>
