<!-- IF RA_BACK_TO_TOP -->
	<a id="back-to-top" href="#phpBB"><i class="fa fa-angle-up"></i></a>
<!-- ENDIF -->
<!-- IF RA_RC_POSTS and (.ra_posts == 4 or .ra_posts == 8) -->
	<div class="chunk-inner">
		<!-- BEGIN ra_posts -->
			<div class="chunk-25 rc-posts">
				<a href="{ra_posts.URL}" class="rc-link">
					<div class="rc-posts-out">
						<div class="rc-author">{ra_posts.POSTER}</div>
						<div class="rc-content">{ra_posts.TEXT}</div>
						<div class="rc-time">{ra_posts.TIME}</div>
					</div>
				</a>
			</div>
		<!-- END ra_posts -->
		<div class="clear"></div>
		<hr class="rc-hr">
	</div>
<!-- ENDIF -->
