<!-- IF not RA_FOOT_TYPE -->
	<!-- IF RA_LAYOUT eq 1 -->
		<script>
			$(window).load(function() {
				var minheight = $(window).height();
				var minheightwrap = $('#wrap').height();
				var mainheight = $('#mbrs').outerHeight();

				if(minheight > minheightwrap)
				{
					$('#mbrs').css('min-height', minheight-minheightwrap+mainheight);
				}
			});
		</script>
	<!-- ELSE -->
		<script>
			$(window).load(function() {
				var minheight = $(window).height();
				var minheightwrap = $('#wrap').height();
				var mainheight = $('#mbrs').outerHeight();

				if(minheight > minheightwrap)
				{
					$('#mbrs').css('min-height', minheight-minheightwrap+mainheight-36);
				}
			});
		</script>
	<!-- ENDIF -->
<!-- ENDIF -->
<!-- IF not RA_HEAD_TYPE -->
	<script>
		$(document).ready(function(){
			$('#wrap-header, #wrap-header-index').sticky({topSpacing:0});
		});
	</script>
	<!-- INCLUDEJS jquery.sticky.js -->
<!-- ENDIF -->
<!-- IF RA_BACK_TO_TOP -->
	<script>
		$('#back-to-top').click(function(e) {
			e.preventDefault();
			$('html, body').animate({
				scrollTop: 0
			}, 400);
		});

		$(document).scroll(function() {
			var y = $(this).scrollTop();
			if (y > 164) {
				$('#back-to-top').addClass('btt-visible');
			} else {
				$('#back-to-top').removeClass('btt-visible');
			}

			var wrapFooter = $('#wrap-footer').offset().top;
			var windowHeight = $( window ).height();
			if (y > wrapFooter - windowHeight + 42) {
				$('#back-to-top').addClass('btt-docked');
			} else {
				$('#back-to-top').removeClass('btt-docked');
			}
		});
	</script>
<!-- ENDIF -->
