<!-- IF S_TYPE == 1 -->
<div class="background-deep">
	<div class="chunk">

	<h3 class="captcha-title">{L_CONFIRMATION}</h3>
	<p>{L_CONFIRM_EXPLAIN}</p>

	<fieldset class="fields2">
<!-- ENDIF -->

	<dl class="form">
		<dt><span>{L_CONFIRM_CODE}{L_COLON}</span><p>{L_CONFIRM_CODE_EXPLAIN}</p></dt>
		<dd class="captcha captcha-image"><img src="{CONFIRM_IMAGE_LINK}" alt="{L_CONFIRM_CODE}" /></dd>
		<dd><input type="text" name="confirm_code" id="confirm_code" size="8" maxlength="8" tabindex="{$CAPTCHA_TAB_INDEX}" class="input" title="{L_CONFIRM_CODE}" placeholder="{L_CONFIRM_CODE}" />
		<!-- IF S_CONFIRM_REFRESH --><input type="submit" name="refresh_vc" id="refresh_vc" class="button-flat" value="{L_VC_REFRESH}" /><!-- ENDIF -->
		<input type="hidden" name="confirm_id" id="confirm_id" value="{CONFIRM_ID}" /></dd>
	</dl>

<!-- IF S_TYPE == 1 -->
	</fieldset>
	</div>
</div>
<!-- ENDIF -->
