
<ol id="forums-wrap">

<!-- BEGIN forumrow -->
	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
			</ol>
		</li>
	<!-- ENDIF -->

	<!-- EVENT forumlist_body_category_header_before -->
	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
		<li class="fora-bg">
			<h3>
				<!-- EVENT forumlist_body_category_header_row_prepend -->
				<!-- IF forumrow.S_IS_CAT -->
					<a href="{forumrow.U_VIEWFORUM}" title="{L_FORUM_CAT}">{forumrow.FORUM_NAME}</a>
				<!-- ELSE -->
					{L_FORUM}
				<!-- ENDIF -->
				<!-- EVENT forumlist_body_category_header_row_append -->
			</h3>
			<ol>
	<!-- ENDIF -->
	<!-- EVENT forumlist_body_category_header_after -->

	<!-- IF not forumrow.S_IS_CAT -->
		<!-- EVENT forumlist_body_forum_row_before -->
		<li>
			<!-- EVENT forumlist_body_forum_row_prepend -->
			
				<div class="fora-icon<!-- IF not forumrow.FORUM_IMAGE --> {forumrow.FORUM_IMG_STYLE}<!-- ENDIF -->"<!-- IF not forumrow.S_UNREAD_FORUM --> title="{L_NO_UNREAD_POSTS}"<!-- ENDIF -->>
					<div></div>
					<!-- IF forumrow.S_UNREAD_FORUM and not S_IS_BOT -->
						<!-- DEFINE $SHOW_MARK_ALL = 1 -->
						<a href="{forumrow.U_VIEWFORUM}" title="{L_UNREAD_POSTS}"></a>
					<!-- ENDIF -->
					<!-- IF forumrow.FORUM_IMAGE -->
						{forumrow.FORUM_IMAGE}
					<!-- ENDIF -->
				</div>
			<div class="fora-description">
				<div class="fora-description-inner">
					<h4><a href="{forumrow.U_VIEWFORUM}" class="forumtitle" title="{L_VIEW_FORUM}">{forumrow.FORUM_NAME}</a></h4><!-- IF forumrow.CLICKS --><div class="re-sm fora-stats-sm">{forumrow.CLICKS} {L_REDIRECTS}</div><!-- ELSEIF not forumrow.S_IS_LINK --><div class="re-sm fora-stats-sm">{forumrow.TOPICS} {L_TOPICS} {forumrow.POSTS} {L_POSTS}</div><!-- ENDIF --><!-- IF S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED --><a class="feed-icon" title="{L_FEED} - {forumrow.FORUM_NAME}" href="{U_FEED}?f={forumrow.FORUM_ID}"><i class="fa fa-rss"></i></a><!-- ENDIF -->
					<!-- IF forumrow.FORUM_DESC --><p>{forumrow.FORUM_DESC}</p><!-- ENDIF -->
					<!-- IF forumrow.MODERATORS -->
						<strong class="re-md-r">{forumrow.L_MODERATOR_STR}{L_COLON} {forumrow.MODERATORS}</strong>
					<!-- ENDIF -->
					<!-- IF .forumrow.subforum and forumrow.S_LIST_SUBFORUMS -->
						<!-- EVENT forumlist_body_subforums_before -->
						<ol class="subforums-list">
						<!-- BEGIN subforum --><li><a href="{forumrow.subforum.U_SUBFORUM}" class="subforum<!-- IF forumrow.subforum.S_UNREAD --> unread<!-- ELSE --> read<!-- ENDIF -->" title="<!-- IF forumrow.subforum.S_UNREAD -->{L_UNREAD_POSTS}<!-- ELSE -->{L_NO_UNREAD_POSTS}<!-- ENDIF -->">{forumrow.subforum.SUBFORUM_NAME}</a></li><!-- END subforum -->
						</ol>
						<!-- EVENT forumlist_body_subforums_after -->
					<!-- ENDIF -->
				</div>
			</div>
			<!-- IF forumrow.CLICKS -->
				<div class="fora-redirect">{forumrow.CLICKS} <dfn>{L_REDIRECTS}</dfn></div>
			<!-- ELSEIF not forumrow.S_IS_LINK -->
				<div class="fora-stats">
					{forumrow.TOPICS} <dfn>{L_TOPICS}</dfn><br>{forumrow.POSTS} <dfn>{L_POSTS}</dfn>
				</div>
				<div class="fora-recent">
					<!-- IF forumrow.U_UNAPPROVED_TOPICS --><a class="fora-unapproved-icon" href="{forumrow.U_UNAPPROVED_TOPICS}"><i class="fa fa-exclamation-triangle"></i></a><!-- ELSEIF forumrow.U_UNAPPROVED_POSTS --><a class="fora-unapproved-icon" href="{forumrow.U_UNAPPROVED_POSTS}"><i class="fa fa-exclamation-triangle"></i></a><!-- ENDIF --><!-- IF forumrow.LAST_POST_TIME --><!-- IF forumrow.S_DISPLAY_SUBJECT --><!-- EVENT forumlist_body_last_post_title_prepend --><a href="{forumrow.U_LAST_POST}" title="{forumrow.LAST_POST_SUBJECT}" class="lastsubject">{forumrow.LAST_POST_SUBJECT_TRUNCATED}</a><br>
					<!-- ENDIF --> 
					{L_POST_BY_AUTHOR} {forumrow.LAST_POSTER_FULL}
					<br><a href="{forumrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}" class="lastpost-time">{forumrow.LAST_POST_TIME}</a><!-- ELSE -->{L_NO_POSTS}<!-- ENDIF --></div>
			<!-- ENDIF -->
			<!-- EVENT forumlist_body_forum_row_append -->
		</li>
		<!-- EVENT forumlist_body_forum_row_after -->
	<!-- ENDIF -->

	<!-- IF forumrow.S_LAST_ROW -->
			</ol>
		</li>
	<!-- EVENT forumlist_body_last_row_after -->
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<div class="box-normal">
		<p>
			<strong>{L_NO_FORUMS}</strong>
		</p>
	</div>
<!-- END forumrow -->

</ol>
