<!-- INCLUDE overall_header.html -->

<div id="sub-header">
    <div class="chunk">
        <div class="sub-header-title">
            <h2 class="titlespace">Kommandostand</h2>
        </div>
    </div>
</div>

<div class="background-main">
    <div class="chunk">
        <div class="panel">
            <div class="inner">                
                <div id="message-box" class="kommandostand">
					<!-- IF not IS_MEMBER -->
						<!-- BEGIN server -->
						<div>
							<form method="POST" action="kommandostand/formhandler.php">
								<label for="modset">{server.NAME}</label>
								<select name="modset">
									<!-- BEGIN modset -->
									<option value="{server.modset.ID}">{server.modset.NAME}</option>
									<!-- END modset -->
								</select>
								<input type="hidden" name="serverid" value="{server.ID}">							
								<!-- IF server.IS_ONLINE -->
									<input type="submit" name="stop" value="Stoppen" class="button">
								<!-- ELSE -->
									<input type="submit" name="start" value="Starten" class="button">
								<!-- ENDIF -->
							</form>
						</div>
						<!-- END server -->
					<!-- ENDIF -->
				</div>
			</div>
		</div>
		<!-- IF ISADMIN -->
		<div class="panel">
            <div class="inner">                
				
			</div>
		</div>
		<!-- ENDIF -->
    </div>
</div>


<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->