<!-- INCLUDE overall_header.html -->

<div id="sub-header">
	<div class="chunk">
		<div class="sub-header-title">
			<h2 class="login-title">{L_LOGIN}</h2><!-- IF FORUM_NAME --> :: <h2 class="forum-title"><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h2><!-- ENDIF -->
		</div>
	</div>
</div>


<form id="login_forum" method="post" action="{S_LOGIN_ACTION}">
{S_FORM_TOKEN}
<div id="mbrs" class="background-main">
	<div class="chunk message-main">
		<p>{L_LOGIN_FORUM}</p>

		<fieldset>
			<!-- IF LOGIN_ERROR -->
				<p class="error">{LOGIN_ERROR}</p>
			<!-- ENDIF -->

			<dl class="form">
				<dt><label for="password">{L_PASSWORD}{L_COLON}</label></dt>
				<dd><input type="password" tabindex="1" id="password" name="password" size="25" class="input" autocomplete="off" /></dd>
				{S_LOGIN_REDIRECT}
				<dt>&nbsp;</dt>
				<dd>{S_HIDDEN_FIELDS}<input type="submit" name="login" id="login" class="button" value="{L_LOGIN}" tabindex="2" /></dd>
			</dl>
		</fieldset>
	</div>
</div>

</form>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
