<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">

	<div class="action-bar-top">
		<div class="pagination">
			{TOTAL}
			<!-- IF .pagination --> 
				<!-- INCLUDE pagination.html -->
			<!-- ENDIF -->
		</div>
		<div>
			<a class="button-round" data-toggle="dropdown" href="{U_SEARCH}"><i class="fa fa-search"></i></a>
			<div class="dropdown-search">
				<button type="submit" class="button2" name="filter"><i class="fa fa-search"></i></button><div><input type="search" name="keywords" value="{S_KEYWORDS}" placeholder="{L_SEARCH_KEYWORDS}" /></div>
			</div>
		</div>
		<!-- IF .log -->
			<div>
				<span class="button-round" data-toggle="dropdown"><i class="fa fa-filter"></i></span>
				<div class="dropdown-box-big">
					<fieldset class="display-options">
						<div class="dropdown-header"><h5>{L_DISPLAY_POSTS}</h5></div>
						<div class="dropdown-body">{S_SELECT_SORT_DAYS}</div>
						<div class="dropdown-header"><h5>{L_SORT_BY}</h5></div>
						<div class="dropdown-body">{S_SELECT_SORT_KEY}{S_SELECT_SORT_DIR}</label>
							<div class="dropdown-footer"><input type="submit" name="sort" value="{L_GO}" /></div>
					</fieldset>
				</div>
			</div>
		<!-- ENDIF -->
	</div>

	<table class="table">
	<thead>
	<tr>
		<th class="name">{L_USERNAME}</th>
		<th class="center">{L_IP}</th>
		<th class="center">{L_TIME}</th>
		<th class="name">{L_ACTION}</th>
		<!-- IF S_CLEAR_ALLOWED --><th>{L_MARK}</th><!-- ENDIF -->
	</tr>
	</thead>
		<tbody>
	<!-- IF S_LOGS -->
		<!-- BEGIN log -->
		<!-- IF log.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
			<td>{log.USERNAME}</td>
			<td class="center">{log.IP}</td>
			<td class="center">{log.DATE}</td>
			<td>{log.ACTION}<br />
			{log.DATA}
		</td>
		<!-- IF S_CLEAR_ALLOWED -->
			<td style="width: 5%" align="center">
				<label for="{log.ID}">
					<input id="{log.ID}" class="check" type="checkbox" name="mark[]" value="{log.ID}" />
					<span class="check"></span>
				</label>
			</td>
		<!-- ENDIF -->
		</tr>
		<!-- END log -->
	<!-- ELSE -->
		<tr>
			<td class="bg1" colspan="<!-- IF S_CLEAR_ALLOWED -->5<!-- ELSE -->4<!-- ENDIF -->" align="center"><span class="gen">{L_NO_ENTRIES}</span></td>
		</tr>
	<!-- ENDIF -->
	</tbody>
	</table>

	<!-- IF .log -->
		<div class="action-bar-bottom">
			<div class="pagination">
				{TOTAL}
				<!-- IF .pagination --> 
					<!-- INCLUDE pagination.html -->
				<!-- ENDIF -->
			</div>
		</div>

		{S_FORM_TOKEN}

		<!-- IF S_CLEAR_ALLOWED -->
			<fieldset class="actions">
				<input class="button" type="submit" name="action[del_all]" value="{L_DELETE_ALL}" /><input class="button" type="submit" value="{L_DELETE_MARKED}" name="action[del_marked]" />
				<div class="button-multiple"><a href="#" onclick="marklist('mcp', 'mark', true); return false;">{L_MARK_ALL}</a><a href="#" onclick="marklist('mcp', 'mark', false); return false;">{L_UNMARK_ALL}</a></div>
			</fieldset>
		<!-- ENDIF -->
	<!-- ELSE -->
			{S_FORM_TOKEN}
			</div>
		</div>
	<!-- ENDIF -->
</form>

<br />

<!-- INCLUDE mcp_footer.html -->
