<!-- IF S_AJAX_REQUEST -->

	<h3>{MESSAGE_TITLE}</h3>
	<p>{MESSAGE_TEXT}</p>

	<!-- IF ADDITIONAL_MSG --><p>{ADDITIONAL_MSG}</p><!-- ENDIF -->

	<label>
		<strong>{L_SELECT_DESTINATION_FORUM}{L_COLON}</strong>
		<select name="to_forum_id">{S_FORUM_SELECT}</select>
	</label>

	<!-- IF S_CAN_LEAVE_SHADOW -->
		<label for="move_leave_shadow">
			<input type="checkbox" name="move_leave_shadow" id="move_leave_shadow" />{L_LEAVE_SHADOW}
		</label>
	<!-- ENDIF -->

	<!-- IF S_CAN_LOCK_TOPIC -->
		<label for="move_lock_topics">
			<input type="checkbox" name="move_lock_topics" id="move_lock_topics" />{L_LOCK_TOPIC}
		</label>
	<!-- ENDIF -->

	<fieldset class="submit-buttons">
		<input type="button" name="confirm" value="{YES_VALUE}" class="button1" />&nbsp;
		<input type="button" name="cancel" value="{L_NO}" class="button2" />
	</fieldset>

<!-- ELSE -->

<!-- INCLUDE overall_header.html -->

<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">

<div id="sub-header">
	<div class="chunk">
		<div class="sub-header-title">
			<h2 class="message-title">{MESSAGE_TITLE}</h2>
			<!-- IF ADDITIONAL_MSG --><p>{ADDITIONAL_MSG}</p><!-- ENDIF -->
		</div>
	</div>
</div>

<div id="mbrs" class="background-main">
	<div class="chunk message-main">
		<p>{MESSAGE_TEXT}</p>
		<fieldset>
			<dl class="form">
				<dt><span>{L_SELECT_DESTINATION_FORUM}{L_COLON}</span></dt>
				<dd>
					<select name="to_forum_id">{S_FORUM_SELECT}</select>
				</dd>
				<!-- IF S_CAN_LEAVE_SHADOW -->
				<dd>
					<label for="move_leave_shadow"><input type="checkbox" name="move_leave_shadow" id="move_leave_shadow" class="check" /><span class="check"></span><span>{L_LEAVE_SHADOW}</span></label>
				</dd>
				<!-- ENDIF -->
				<!-- IF S_CAN_LOCK_TOPIC -->
				<dd>
					<label for="move_lock_topics"><input type="checkbox" name="move_lock_topics" id="move_lock_topics" class="check" /><span class="check"></span><span>{L_LOCK_TOPIC}</span></label>
				</dd>
				<!-- ENDIF -->
			</dl>
		</fieldset>
		<fieldset class="actions-submit">
			{S_HIDDEN_FIELDS}<input type="submit" name="confirm" value="{YES_VALUE}" class="button" /><input type="submit" name="cancel" value="{L_NO}" class="button-flat" />
			{S_FORM_TOKEN}
		</fieldset>
	</div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->
