<!-- INCLUDE overall_header.html -->

<div id="sub-header">
    <div class="chunk">
        <div class="sub-header-title">
            <h2 class="titlespace">Mitglieder</h2>
        </div>
    </div>
</div>

<div class="background-main">
    <div class="chunk">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    
        <!-- BEGIN unit -->
        <div class="unit">
            <h3>{unit.GROUPNAME}</h3>
            <p>{unit.DESCR}</p>
            
            <!-- BEGIN unit.member -->
            <div class="unitmember" style="background-color:red;">
                <p>{unit.member.USERNAME}</p>
                <p>{unit.member.AVATAR}</p>
                <p>{unit.member.USERID}</p>
                <p>{unit.member.RANK}</p>
                <p>{unit.member.RANKIMAGE}</p>
            </div>
            <!-- END unit.member -->
            
        </div>
        <!-- END unit -->
    </div>
</div>


<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->