<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{META}
		<title><!-- IF UNREAD_NOTIFICATIONS_COUNT -->({UNREAD_NOTIFICATIONS_COUNT}) <!-- ENDIF --><!-- IF not S_VIEWTOPIC and not S_VIEWFORUM -->{SITENAME} - <!-- ENDIF --><!-- IF S_IN_MCP -->{L_MCP} - <!-- ELSEIF S_IN_UCP -->{L_UCP} - <!-- ENDIF -->{PAGE_TITLE}<!-- IF S_VIEWTOPIC or S_VIEWFORUM --> - {SITENAME}<!-- ENDIF --></title>

		<!-- IF S_ENABLE_FEEDS -->
			<!-- IF S_ENABLE_FEEDS_OVERALL -->
				<link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}">
			<!-- ENDIF -->
			<!-- IF S_ENABLE_FEEDS_NEWS -->
				<link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{U_FEED}?mode=news">
			<!-- ENDIF -->
			<!-- IF S_ENABLE_FEEDS_FORUMS -->
				<link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_FEED}?mode=forums">
			<!-- ENDIF -->
			<!-- IF S_ENABLE_FEEDS_TOPICS -->
				<link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics">
			<!-- ENDIF -->
			<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE -->
				<link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active">
			<!-- ENDIF -->
			<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID -->
				<link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}">
			<!-- ENDIF -->
			<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID -->
				<link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}">
			<!-- ENDIF -->

			<!-- EVENT overall_header_feeds -->
		<!-- ENDIF -->

		<!-- IF U_CANONICAL -->
			<link rel="canonical" href="{U_CANONICAL}">
		<!-- ENDIF -->

		<!--
			Style name: Ravaio
			Author: Gramziu
		-->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700,700italic">

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600">
                
                <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
                <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
                

		<!-- IF S_CONTENT_DIRECTION eq 'ltr' -->
			<link rel="stylesheet" href="{T_STYLESHEET_LINK}">
		<!-- ELSE -->
			<link rel="stylesheet" href="{T_THEME_PATH}/stylesheet_rtl.css?assets_version={T_ASSETS_VERSION}">
		<!-- ENDIF -->
		<!-- IF not RA_ENABLE -->
			<link rel="stylesheet" href="{T_THEME_PATH}/colors.css?assets_version={T_ASSETS_VERSION}">
		<!-- ENDIF -->
		<!-- IF S_CONTENT_DIRECTION eq 'ltr' -->
			<link rel="stylesheet" href="{T_THEME_PATH}/responsive.css?assets_version={T_ASSETS_VERSION}">
		<!-- ELSE -->
			<link rel="stylesheet" href="{T_THEME_PATH}/responsive_rtl.css?assets_version={T_ASSETS_VERSION}">
		<!-- ENDIF -->
		<link rel="stylesheet" href="{T_THEME_PATH}/lightgallery.css?assets_version={T_ASSETS_VERSION}">
	


		<!-- EVENT overall_header_head_append -->

		{$STYLESHEETS}

		<!-- EVENT overall_header_stylesheets_after -->

	</head>
	<body id="phpbb" class="nojs notouch section-{SCRIPT_NAME} {S_CONTENT_DIRECTION} {BODY_CLASS}">

		<div id="wrap">

			<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
				<div id="information">
					<div class="chunk">
						{L_BOARD_DISABLED}
					</div>
				</div>
			<!-- ENDIF -->

		<div id="wrap-inner">

			<!-- EVENT overall_header_body_before -->

			<a id="top" class="anchor" accesskey="t"></a>
			<div<!-- IF not RA_ENABLE --><!-- IF $RA_INDEX --> id="wrap-header-index"<!-- ELSE --> id="wrap-header"<!-- ENDIF --><!-- ELSE --><!-- IF RA_SITE_DESC gt 0 and $RA_INDEX --> id="wrap-header-index"<!-- ELSE --> id="wrap-header"<!-- ENDIF --><!-- ENDIF -->>
				<div class="site-header chunk">
					<a id="logo" href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->" title="<!-- IF U_SITE_HOME -->{L_SITE_HOME}<!-- ELSE -->{L_INDEX}<!-- ENDIF -->"<!-- IF RA_LOGO_TYPE --> class="logo_text"<!-- ENDIF -->><!-- IF RA_LOGO_TYPE -->{RA_LOGO_TEXT}<!-- ELSE -->{SITE_LOGO_IMG}<!-- ENDIF --></a>

					<nav>
						<!-- EVENT overall_header_navbar_before -->

						<ul class="site-nav">

							<!-- EVENT overall_header_navigation_prepend -->

							<li class="re-md-r">
								<a href="{U_FAQ}" rel="help" title="{L_FAQ_EXPLAIN}">{L_FAQ}</a>
							</li>

							<!-- EVENT overall_header_navigation_append -->

							<!-- IF U_ACP -->
								<li class="re-md-r">
									<a href="{U_ACP}" title="{L_ACP}"><i class="fa fa-tachometer"></i></a>
								</li>
							<!-- ENDIF -->

							<!-- IF U_MCP -->
								<li class="re-md-r">
									<a href="{U_MCP}" title="{L_MCP}"><i class="fa fa-gavel"></i></a>
								</li>
							<!-- ENDIF -->

							<!-- IF S_REGISTERED_USER -->

								<!-- IF S_DISPLAY_PM -->
									<li>
										<a href="{U_PRIVATEMSGS}">
											<!-- IF PRIVATE_MESSAGE_COUNT --><div class="count">{PRIVATE_MESSAGE_COUNT}</div><!-- ENDIF -->
											<i class="fa fa-envelope"></i>
										</a>
									</li>
								<!-- ENDIF -->

								<!-- IF S_NOTIFICATIONS_DISPLAY -->
									<li>
										<a data-toggle="dropdown" class="w-drop" href="{U_VIEW_ALL_NOTIFICATIONS}">
											<!-- IF NOTIFICATIONS_COUNT --><div class="count">{NOTIFICATIONS_COUNT}</div><!-- ENDIF -->
											<i class="fa fa-bell"></i>
										</a>
										<!-- INCLUDE notification_dropdown.html -->
									</li>
								<!-- ENDIF -->

							<!-- ENDIF -->

							<!-- IF not S_REGISTERED_USER -->

								<!-- IF not $ON_LOGIN_PAGE -->
									<li>
										<span title="{L_LOGIN_LOGOUT}" accesskey="x" data-toggle="modal" data-target="#quick-login">{L_LOGIN_LOGOUT}</span>
									</li>
								<!-- ENDIF -->
								<!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
									<li >
										<a href="{U_REGISTER}">{L_REGISTER}</a>
									</li>
								<!-- ENDIF -->

								<!-- EVENT navbar_header_logged_out_content -->

							<!-- ENDIF -->

							<!-- EVENT overall_header_searchbox_before -->

							<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
								<li id="main-search-box" class="re-md-r">
									<a data-toggle="dropdown" class="w-drop" href="{U_SEARCH}"><i class="fa fa-search"></i></a>
									<div class="dropdown-search">
										<form action="{U_SEARCH}" method="get">
											<fieldset>
												<button type="submit" title="{L_SEARCH}"><i class="fa fa-search"></i></button><div><input name="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" id="main-search" /></div>
												{S_SEARCH_HIDDEN_FIELDS}
											</fieldset>
										</form>
									</div>
								</li>
							<!-- ENDIF -->

							<!-- IF S_REGISTERED_USER -->

							<!-- EVENT navbar_header_user_profile_prepend -->

								<li class="cur-user">

									<!-- EVENT navbar_header_username_prepend -->

									<a data-toggle="dropdown" href="{U_PROFILE}" id="header-avatar">
										<!-- IF CURRENT_USER_AVATAR -->
											{CURRENT_USER_AVATAR}
										<!-- ELSE -->
											{CURRENT_USERNAME_SIMPLE}
										<!-- ENDIF -->
									</a>
									<ul class="dropdown-box<!-- IF not CURRENT_USER_AVATAR --> ha-n<!-- ENDIF -->">
										<!-- IF U_RESTORE_PERMISSIONS --><li><a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a></li><!-- ENDIF -->

										<!-- IF U_ACP -->
											<li class="re-md">
												<a href="{U_ACP}" title="{L_ACP}"><i class="fa fa-tachometer"></i>{L_ACP}</a>
											</li>
										<!-- ENDIF -->

										<!-- IF U_MCP -->
											<li class="re-md">
												<a href="{U_MCP}" title="{L_MCP}"><i class="fa fa-gavel"></i>{L_MCP}</a>
											</li>
										<!-- ENDIF -->

										<!-- EVENT navbar_header_profile_list_before -->

										<li><a href="{U_PROFILE}" title="{L_PROFILE}"><i class="fa fa-cogs"></i>{L_PROFILE}</a></li>
										<li><a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}"><i class="fa fa-user"></i>{L_READ_PROFILE}</a></li>

										<!-- EVENT navbar_header_profile_list_after -->

										<li class="separator"></li>
										<li><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x"><i class="fa fa-sign-out"></i>{L_LOGIN_LOGOUT}</a></li>
									</ul>

									<!-- EVENT navbar_header_username_append -->

								</li>

							<!-- EVENT navbar_header_user_profile_append -->

							<!-- ENDIF -->

							<li class="<!-- IF not S_DISPLAY_QUICK_LINKS and not S_DISPLAY_SEARCH -->hidden<!-- ENDIF -->">
								<a data-toggle="dropdown" href="#" id="header-mini-menu"><i class="fa fa-bars"></i>
</a>
								<ul class="dropdown-box">
									<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
										<li id="main-search-box-md" class="re-md">
											<form action="{U_SEARCH}" method="get">
												<fieldset>
													<button type="submit" title="{L_SEARCH}"><i class="fa fa-search"></i></button><div><input name="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" id="main-search-md" /></div>
													{S_SEARCH_HIDDEN_FIELDS}
												</fieldset>
											</form>
										</li>
									<!-- ENDIF -->
									<li class="re-md">
										<a href="{U_FAQ}" rel="help" title="{L_FAQ_EXPLAIN}"><i class="fa fa-question"></i>{L_FAQ}</a>
									</li>

									<li class="separator re-md"></li>

									<!-- EVENT navbar_header_quick_links_before -->

									<!-- IF S_DISPLAY_SEARCH -->
										<!-- IF S_REGISTERED_USER -->
											<li><a href="{U_SEARCH_SELF}"><i class="fa fa-comment"></i>{L_SEARCH_SELF}</a></li>
										<!-- ENDIF -->
										<!-- IF S_USER_LOGGED_IN -->
											<li><a href="{U_SEARCH_NEW}"><i class="fa fa-comments-o"></i>{L_SEARCH_NEW}</a></li>
										<!-- ENDIF -->
										<!-- IF S_LOAD_UNREADS --> 
											<li><a href="{U_SEARCH_UNREAD}"><i class="fa fa-commenting"></i>{L_SEARCH_UNREAD}</a></li>
										<!-- ENDIF -->
										<li><a href="{U_SEARCH_UNANSWERED}"><i class="fa fa-comment-o"></i>{L_SEARCH_UNANSWERED}</a></li>
										<li><a href="{U_SEARCH_ACTIVE_TOPICS}"><i class="fa fa-commenting-o"></i>{L_SEARCH_ACTIVE_TOPICS}</a></li>
									<!-- ENDIF -->

									<!-- EVENT navbar_header_quick_links_after -->
								</ul>
							</li>

						</ul>

<ul id="breadcrumbs" class="<!-- IF S_VIEWTOPIC -->bread-topic<!-- ELSE -->bread-normal<!-- ENDIF -->"><!-- DEFINE $MICRODATA = ' itemtype="http://data-vocabulary.org/Breadcrumb" itemscope=""' --><!-- EVENT overall_header_breadcrumbs_before --><!-- IF U_SITE_HOME --><li><a href="{U_SITE_HOME}"{$MICRODATA} data-navbar-reference="home">{L_SITE_HOME}</a></li><!-- ENDIF --><!-- EVENT overall_header_breadcrumb_prepend --><li<!-- IF U_SITE_HOME --> class="crumb-solid"<!-- ENDIF -->><a href="{U_INDEX}?page=forum" accesskey="h"{$MICRODATA} data-navbar-reference="index">{L_INDEX}</a></li><!-- BEGIN navlinks --><!-- EVENT overall_header_navlink_prepend --><li><a href="{navlinks.U_VIEW_FORUM}"{$MICRODATA}<!-- IF navlinks.MICRODATA --> {navlinks.MICRODATA}<!-- ENDIF -->>{navlinks.FORUM_NAME}</a></li><!-- EVENT overall_header_navlink_append --><!-- END navlinks --><!-- EVENT overall_header_breadcrumb_append --><!-- EVENT overall_header_breadcrumbs_after --></ul>
					</nav>
                                </div>
			</div>

			<!-- EVENT overall_header_page_body_before -->

			<a id="start_here" class="anchor"></a>

			<div id="page-body" role="main">

				<!-- EVENT overall_header_content_before -->
