<!-- INCLUDE overall_header.html -->

<div id="site-description">
	<div class="chunk">
            <div class="site-logo">
                <img src="images/site-logo.png">
            </div>
		<div id="page-description">
			<h1>{SITENAME}</h1>
			<h2>{SITE_DESCRIPTION}</h2>
		</div>
	</div>
</div>


<div id="main-index" class="background-main">
	<div class="chunk">

		<div class="box-normal">
			<h6>Your announcement</h6>
			<p>Test<br>Test</p>
			<p>Test<br>Test</p>
			<button class="button">Test</button>
		</div>

	</div>
</div>

<div class="background-deep">
	<div class="chunk">

		<div class="box-normal">
			<h6>Your announcement</h6>
			<p>Test<br>Test</p>
			<p>Test<br>Test</p>
			<button class="button">Test</button>
		</div>

	</div>
</div>

<!-- INCLUDE overall_footer.html -->
