<!-- INCLUDE overall_header.html -->

<div id="sub-header">
    <div class="chunk">
        <div class="sub-header-title">
            <h2 class="titlespace">
                Usergalerie
            </h2>
        </div>
        <!-- IF CANADD -->
            <div class="sub-header-buttons">
                <a href="gallery.php?edit=image&id=new" class="button icon-button reply-icon" title="Bild hochladen"><span>Bild hochladen</span></a>
            </div>
        <!-- ENDIF -->
    </div>
</div>

<div class="background-main">
    <div class="chunk">
        <div class="panel">
            <div class="inner">      
                <div id="message-box">
                    <div class="gal-pagi">
                        <!-- IF PREVIOUS >= 0 -->
                        <div class="pagi-prev">
                            <a href="gallery.php?list=images&offset={PREVIOUS}" class="button-flat" title="Letzte Seite"><span>&#8676; Letzte Seite</span></a>
                        </div>
                        <!-- ENDIF -->
                        <!-- IF NEXT < ROWS -->
                        <div class="pagi-next">
                            <a href="gallery.php?list=images&offset={NEXT}" class="button-flat" title="Nächste Seite"><span>Nächste Seite &#8677;</span></a>
                        </div>
                        <div class="clear"></div>
                        <!-- ENDIF -->
                    </div>
                    <div class="gallery">
                        <!-- BEGIN pic -->
                        <div class="gallery-thumb">
                            <a href="./gallery.php?file={pic.PICTURE}"><img src="./images/gallery/thumbnails/{pic.PICTURE}.jpg"></a>
                            <div class="gallery-thumb-name">
                                <h4>{pic.NAME}</h4>
                            </div>
                        </div>
                        <!-- END pic -->
                        <div class="clear"></div>
                    </div> 
                    <div class="cursite"><p>Seite {SITE} von {MAXSITES}</p></div>
                </div>
            </div>
        </div>        
    </div>
</div>


<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
