<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<fieldset>
<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
<!-- EVENT ucp_prefs_view_radio_buttons_prepend -->
<dl class="form">
	<dt><span>{L_VIEW_IMAGES}{L_COLON}</span></dt>
	<dd>
		<label for="images1"><input class="radio" type="radio" name="images" id="images1" value="1"<!-- IF S_IMAGES --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_YES}</label><label for="images0"><input class="radio" type="radio" name="images" id="images0" value="0"<!-- IF not S_IMAGES --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_NO}</label>
	</dd>
</dl>
<dl class="form">
	<dt><span>{L_VIEW_FLASH}{L_COLON}</span></dt>
	<dd>
		<label for="flash1"><input class="radio" type="radio" name="flash" id="flash1" value="1"<!-- IF S_FLASH --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_YES}</label><label for="flash0"><input class="radio" type="radio" name="flash" id="flash0" value="0"<!-- IF not S_FLASH --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_NO}</label>
	</dd>
</dl>
<dl class="form">
	<dt><span>{L_VIEW_SMILIES}{L_COLON}</span></dt>
	<dd>
		<label for="smilies1"><input class="radio" type="radio" name="smilies" id="smilies1" value="1"<!-- IF S_SMILIES --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_YES}</label><label for="smilies0"><input class="radio" type="radio" name="smilies" id="smilies0" value="0"<!-- IF not S_SMILIES --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_NO}</label>
	</dd>
</dl>
<dl class="form">
	<dt><span>{L_VIEW_SIGS}{L_COLON}</span></dt>
	<dd>
		<label for="sigs1"><input class="radio" type="radio" name="sigs" id="sigs1" value="1"<!-- IF S_SIGS --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_YES}</label><label for="sigs0"><input class="radio" type="radio" name="sigs" id="sigs0" value="0"<!-- IF not S_SIGS --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_NO}</label>
	</dd>
</dl>
<dl class="form">
	<dt><span>{L_VIEW_AVATARS}{L_COLON}</span></dt>
	<dd>
		<label for="avatars1"><input class="radio" type="radio" name="avatars" id="avatars1" value="1"<!-- IF S_AVATARS --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_YES}</label><label for="avatars0"><input class="radio" type="radio" name="avatars" id="avatars0" value="0"<!-- IF not S_AVATARS --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_NO}</label>
	</dd>
</dl>
<!-- IF S_CHANGE_CENSORS -->
	<dl class="form">
		<dt><span>{L_DISABLE_CENSORS}{L_COLON}</span></dt>
		<dd>
			<label for="wordcensor1"><input class="radio" type="radio" name="wordcensor" id="wordcensor1" value="1"<!-- IF S_DISABLE_CENSORS --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_YES}</label><label for="wordcensor0"><input class="radio" type="radio" name="wordcensor" id="wordcensor0" value="0"<!-- IF not S_DISABLE_CENSORS --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_NO}</label>
		</dd>
	</dl>
<!-- ENDIF -->
<!-- EVENT ucp_prefs_view_radio_buttons_append -->
<hr />
<!-- EVENT ucp_prefs_view_select_menu_prepend -->
<dl class="form">
	<dt><span>{L_VIEW_TOPICS_DAYS}{L_COLON}</span></dt>
	<dd>{S_TOPIC_SORT_DAYS}</dd>
</dl>
<dl class="form">
	<dt><span>{L_VIEW_TOPICS_KEY}{L_COLON}</span></dt>
	<dd>{S_TOPIC_SORT_KEY}</dd>
</dl>
<dl class="form">
	<dt><span>{L_VIEW_TOPICS_DIR}{L_COLON}</span></dt>
	<dd>{S_TOPIC_SORT_DIR}</dd>
</dl>
<hr />
<dl class="form">
	<dt><span>{L_VIEW_POSTS_DAYS}{L_COLON}</span></dt>
	<dd>{S_POST_SORT_DAYS}</dd>
</dl>
<dl class="form">
	<dt><span>{L_VIEW_POSTS_KEY}{L_COLON}</span></dt>
	<dd>{S_POST_SORT_KEY}</dd>
</dl>
<dl class="form">
	<dt><span>{L_VIEW_POSTS_DIR}{L_COLON}</span></dt>
	<dd>{S_POST_SORT_DIR}</dd>
</dl>
<!-- EVENT ucp_prefs_view_select_menu_append -->
</fieldset>

<fieldset class="actions-submit">
	{S_HIDDEN_FIELDS}<input type="submit" name="submit" value="{L_SUBMIT}" class="button" /><input type="reset" value="{L_RESET}" name="reset" class="button-flat" />
	{S_FORM_TOKEN}
</fieldset>
</form>

<!-- INCLUDE ucp_footer.html -->
