<!-- DEFINE $RA_ATTACH = 1 -->

<!-- INCLUDE overall_header.html -->

<div id="sub-header">
	<div class="chunk">
		<div class="sub-header-title">
			<h2 class="topic-title"><!-- EVENT viewtopic_topic_title_prepend --><a href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a><!-- EVENT viewtopic_topic_title_append --></h2>

			<!-- EVENT viewtopic_topic_title_after -->

			<!-- IF MODERATORS -->
			<p>
				<strong><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->{L_COLON}</strong> {MODERATORS}
			</p>
			<!-- ENDIF -->
		</div>

		<!-- IF not S_IS_BOT -->
			<div class="sub-header-buttons">
				<!-- EVENT viewtopic_buttons_top_before -->

					<!-- IF U_WATCH_TOPIC or U_BOOKMARK_TOPIC or U_BUMP_TOPIC or U_EMAIL_TOPIC or U_PRINT_TOPIC or S_DISPLAY_TOPIC_TOOLS --><div>
						<span class="button-round" data-toggle="dropdown"><i class="fa fa-caret-down"></i></span>
						<ul class="dropdown-box">
							<!-- EVENT viewtopic_topic_tools_before -->
							<!-- IF U_WATCH_TOPIC -->
								<li>
									<a href="{U_WATCH_TOPIC}" class="watch-topic-link" title="{S_WATCH_TOPIC_TITLE}" data-ajax="toggle_link" data-toggle-class="small-icon icon-<!-- IF not S_WATCHING_TOPIC -->unsubscribe<!-- ELSE -->subscribe<!-- ENDIF -->" data-toggle-text="{S_WATCH_TOPIC_TOGGLE}" data-toggle-url="{U_WATCH_TOPIC_TOGGLE}" data-update-all=".watch-topic-link">{S_WATCH_TOPIC_TITLE}</a>
								</li>
							<!-- ENDIF -->
							<!-- IF U_BOOKMARK_TOPIC -->
								<li>
									<a href="{U_BOOKMARK_TOPIC}" class="bookmark-link" title="{L_BOOKMARK_TOPIC}" data-ajax="alt_text" data-alt-text="{S_BOOKMARK_TOGGLE}" data-update-all=".bookmark-link"><!-- IF S_BOOKMARKED_TOPIC -->{L_BOOKMARK_TOPIC_REMOVE}<!-- ELSE -->{L_BOOKMARK_TOPIC}<!-- ENDIF --></a>
								</li>
							<!-- ENDIF -->
							<!-- IF U_BUMP_TOPIC -->
								<li>
									<a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}" data-ajax="true"><i class="fa fa-level-up"></i>{L_BUMP_TOPIC}</a>
								</li>
							<!-- ENDIF -->
							<!-- IF U_EMAIL_TOPIC -->
								<li>
									<a href="{U_EMAIL_TOPIC}" title="{L_EMAIL_TOPIC}"><i class="fa fa-envelope"></i>{L_EMAIL_TOPIC}</a>
								</li>
							<!-- ENDIF -->
							<!-- IF U_PRINT_TOPIC -->
								<li>
									<a href="{U_PRINT_TOPIC}" title="{L_PRINT_TOPIC}" accesskey="p"><i class="fa fa-print"></i>{L_PRINT_TOPIC}</a>
								</li>
							<!-- ENDIF -->
							<!-- EVENT viewtopic_topic_tools_after -->
						</ul>
					</div><!-- ENDIF --><!-- EVENT viewtopic_dropdown_top_custom --><!-- IF S_DISPLAY_REPLY_INFO -->
					<a href="{U_POST_REPLY_TOPIC}" class="button icon-button <!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->reply-icon<!-- ENDIF -->" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->">
						<!-- IF S_IS_LOCKED --><i class="fa fa-lock"></i><span>{L_BUTTON_TOPIC_LOCKED}</span><!-- ELSE --><i class="fa fa-pencil"></i><span>{L_BUTTON_POST_REPLY}</span><!-- ENDIF -->
					</a>
				<!-- ENDIF -->

				<!-- EVENT viewtopic_buttons_top_after -->
			</div>
		<!-- ENDIF -->
	</div>
</div>

<div id="mbrs" class="background-main">
	<div class="chunk">

		<ul id="breadcrumbs-mid" class="re-md bread-topic"><!-- DEFINE $MICRODATA = ' itemtype="http://data-vocabulary.org/Breadcrumb" itemscope=""' --><!-- EVENT overall_header_breadcrumbs_before --><!-- IF U_SITE_HOME --><li><a href="{U_SITE_HOME}"{$MICRODATA} data-navbar-reference="home">{L_SITE_HOME}</a></li><!-- ENDIF --><!-- EVENT overall_header_breadcrumb_prepend --><li<!-- IF U_SITE_HOME --> class="crumb-solid"<!-- ENDIF -->><a href="{U_INDEX}" accesskey="h"{$MICRODATA} data-navbar-reference="index">{L_INDEX}</a></li><!-- BEGIN navlinks --><!-- EVENT overall_header_navlink_prepend --><li><a href="{navlinks.U_VIEW_FORUM}"{$MICRODATA}<!-- IF navlinks.MICRODATA --> {navlinks.MICRODATA}<!-- ENDIF -->>{navlinks.FORUM_NAME}</a></li><!-- EVENT overall_header_navlink_append --><!-- END navlinks --><!-- EVENT overall_header_breadcrumb_append --><!-- EVENT overall_header_breadcrumbs_after --></ul>

		<!-- IF S_FORUM_RULES -->
			<div class="<!-- IF not U_FORUM_RULES -->important-box<!-- ELSE -->important-box-link<!-- ENDIF -->">

				<!-- IF U_FORUM_RULES -->
					<span><i class="fa fa-exclamation-triangle"></i></span><a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
				<!-- ELSE -->
					{FORUM_RULES}
				<!-- ENDIF -->

			</div>
		<!-- ENDIF -->

		<div class="<!-- IF not S_HAS_POLL -->action-bar-top<!-- ELSE -->action-bar-top-nb<!-- ENDIF -->">

			<!-- IF .pagination or TOTAL_POSTS -->
				<div class="pagination">
					<!-- IF .pagination --><!-- INCLUDE pagination.html --><!-- ENDIF --><!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT --><a href="{U_VIEW_UNREAD_POST}" class="mark">{L_VIEW_UNREAD_POST}</a><!-- ENDIF -->{TOTAL_POSTS}
				</div>
			<!-- ENDIF -->

			<!-- EVENT viewtopic_body_pagination_top_after -->

			<!-- IF S_DISPLAY_SEARCHBOX -->
				<div>
					<a class="button-round" data-toggle="dropdown" href="{U_SEARCH}"><i class="fa fa-search"></i></a>
					<div class="dropdown-search">
						<form method="get" id="topic-search" action="{S_SEARCHBOX_ACTION}">
							<fieldset>
								<button type="submit" title="{L_SEARCH}"><i class="fa fa-search"></i></button><div><input type="search" name="keywords" id="search_keywords" size="20" placeholder="{L_SEARCH_TOPIC}" /></div>
								{S_SEARCH_LOCAL_HIDDEN_FIELDS}
							</fieldset>
						</form>
					</div>
				</div><!-- ENDIF --><!-- IF S_NUM_POSTS > 1 or .pagination --><div>
					<span class="button-round" data-toggle="dropdown"><i class="fa fa-filter"></i></span>
					<div class="dropdown-box-big">
						<form method="post" action="{S_TOPIC_ACTION}">
							<fieldset>
								<div class="dropdown-header"><h5>{L_DISPLAY_POSTS}</h5></div>
								<div class="dropdown-body">{S_SELECT_SORT_DAYS}</div>
								<div class="dropdown-header"><h5>{L_SORT_BY}</h5></div>
								<div class="dropdown-body">
									{S_SELECT_SORT_KEY}{S_SELECT_SORT_DIR}
								</div>
								<div class="dropdown-footer"><input type="submit" name="sort" value="{L_GO}" /></div>
							</fieldset>
						</form>
					</div>
				</div>
			<!-- ENDIF -->
		</div>

		<!-- EVENT viewtopic_body_poll_before -->
		<!-- IF S_HAS_POLL -->

	</div>
</div>

<div class="background-deep">
	<div class="chunk">

		<div class="poll-panel">
			<form method="post" action="{S_POLL_ACTION}" data-ajax="vote_poll" class="topic-poll">
			<fieldset>

				<h4 class="poll-title">
					<!-- EVENT viewtopic_body_poll_question_prepend -->
					{POLL_QUESTION}
					<!-- EVENT viewtopic_body_poll_question_append -->
				</h4>

				<!-- IF S_CAN_VOTE or L_POLL_LENGTH -->
				<p class="poll-info">
					{L_POLL_LENGTH}
					<span class="poll_max_votes">
						{L_MAX_VOTES}
					</span>
				</p>
				<!-- ENDIF -->

				<!-- BEGIN poll_option -->

					<!-- EVENT viewtopic_body_poll_option_before -->

					<div class="poll-option<!-- IF poll_option.POLL_OPTION_VOTED --> voted<!-- ENDIF --><!-- IF poll_option.POLL_OPTION_MOST_VOTES --> most-votes<!-- ENDIF -->"<!-- IF poll_option.POLL_OPTION_VOTED --> title="{L_POLL_VOTED_OPTION}"<!-- ENDIF --> data-alt-text="{L_POLL_VOTED_OPTION}" data-poll-option-id="{poll_option.POLL_OPTION_ID}" data-poll-option-votes="{poll_option.POLL_OPTION_RESULT}">

						<div class="poll-option-title">
							<!-- IF S_CAN_VOTE --><label for="vote_{poll_option.POLL_OPTION_ID}"><!-- ENDIF -->
								<!-- IF S_CAN_VOTE -->
										<!-- IF S_IS_MULTI_CHOICE -->
											<input type="checkbox" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> class="check" /><span class="check"></span>
										<!-- ELSE -->
											<input type="radio" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> class="radio" /><span class="radio"></span>
										<!-- ENDIF -->
								<!-- ENDIF -->

								<!-- IF S_CAN_VOTE -->
									<span>{poll_option.POLL_OPTION_CAPTION}</span><!-- IF poll_option.POLL_OPTION_RESULT == 0 and S_DISPLAY_RESULTS --> <span class="votes">({L_NO_VOTES})</span><!-- ENDIF -->
								<!-- ELSE -->
									<span>{poll_option.POLL_OPTION_CAPTION}</span><!-- IF poll_option.POLL_OPTION_RESULT == 0 and S_DISPLAY_RESULTS --> <span class="votes">({L_NO_VOTES})</span><!-- ENDIF -->
								<!-- ENDIF -->
							<!-- IF S_CAN_VOTE --></label><!-- ENDIF -->
						</div>

						<div class="poll-option-resultbar<!-- IF not S_DISPLAY_RESULTS or poll_option.POLL_OPTION_PCT < 1 --> hidden<!-- ENDIF -->">
							<div style="width:{poll_option.POLL_OPTION_PERCENT_REL};"></div>
						</div>

						<div class="poll-option-result<!-- IF not S_DISPLAY_RESULTS or poll_option.POLL_OPTION_PCT < 1 --> hidden<!-- ENDIF -->">
							<span class="poll-option-result-text">{L_TOTAL_VOTES}{L_COLON}</span> <span class="poll-option-number">{poll_option.POLL_OPTION_RESULT}</span> (<span class="poll-option-percent">{poll_option.POLL_OPTION_PERCENT}</span>)
							
						</div>

					</div>

					<!-- EVENT viewtopic_body_poll_option_after -->

				<!-- END poll_option -->

				<div class="poll-total-votes<!-- IF not S_DISPLAY_RESULTS --> hidden<!-- ENDIF -->">
					{L_TOTAL_VOTES}{L_COLON}
					<span class="poll_total_vote_cnt">
						{TOTAL_VOTES}
					</span>
				</div>

				<!-- IF S_CAN_VOTE or not S_DISPLAY_RESULTS -->
					<div class="poll-actions">
						<!-- IF S_CAN_VOTE -->
							<input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="button" />
						<!-- ENDIF -->
						<!-- IF not S_DISPLAY_RESULTS -->
							<a href="{U_VIEW_RESULTS}" class="button-flat poll-view-results">{L_VIEW_RESULTS}</a>
						<!-- ENDIF -->
					</div>
				<!-- ENDIF -->

				<div class="poll-vote-submitted hidden">
					{L_VOTE_SUBMITTED}
				</div>

				{S_FORM_TOKEN}
				{S_HIDDEN_FIELDS}

			</fieldset>
			</form>
		</div>

	</div>
</div>

<div class="background-main">

		<!-- ENDIF -->

		<!-- EVENT viewtopic_body_poll_after -->

	<!-- IF not S_HAS_POLL -->
	</div>
	<!-- ENDIF -->
	<div class="chunk">
	<div class="content-main">
	<div class="content-main-inner">

		<!-- BEGIN postrow -->
			<!-- EVENT viewtopic_body_postrow_post_before -->
			<!-- IF postrow.S_FIRST_UNREAD -->
				<a id="unread" class="anchor"<!-- IF S_UNREAD_VIEW --> data-url="{postrow.U_MINI_POST}"<!-- ENDIF -->></a>
			<!-- ENDIF -->
			<a id="p{postrow.POST_ID}" class="anchor"></a>
			<div class="post has-profile <!-- IF postrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- IF postrow.S_UNREAD_POST --> unreadpost<!-- ENDIF --><!-- IF postrow.S_POST_REPORTED --> reported<!-- ENDIF --><!-- IF postrow.S_POST_DELETED --> deleted<!-- ENDIF --><!-- IF postrow.POSTER_WARNINGS --> warned<!-- ENDIF --><!-- IF postrow.S_POST_UNAPPROVED --> unapproved<!-- ENDIF -->">

				<aside class="postprofile" id="profile{postrow.POST_ID}"<!-- IF postrow.S_POST_HIDDEN --> style="display: none;"<!-- ENDIF -->>
				<!-- IF postrow.S_ONLINE and not postrow.S_POST_HIDDEN --><div class="poster-online" title="{L_ONLINE}"></div><!-- ENDIF -->
					<div class="<!-- IF postrow.RANK_TITLE or postrow.RANK_IMG -->has-profile-rank<!-- ELSE -->no-profile-rank<!-- ENDIF --> <!-- IF postrow.POSTER_AVATAR -->has-avatar<!-- ELSE -->no-avatar<!-- ENDIF -->">
						<div class="avatar-container"<!-- IF not RA_POSTER_STYLE --> data-toggle="dropdown"<!-- ENDIF -->>
							<!-- EVENT viewtopic_body_avatar_before -->
							<!-- IF postrow.POSTER_AVATAR -->
								<!-- IF postrow.U_POST_AUTHOR --><a href="{postrow.U_POST_AUTHOR}" class="avatar">{postrow.POSTER_AVATAR}</a><!-- ELSE --><span class="avatar">{postrow.POSTER_AVATAR}</span><!-- ENDIF -->
							<!-- ELSE -->
								<span class="avatar-none">{postrow.POST_AUTHOR}</span>
							<!-- ENDIF -->
							<!-- EVENT viewtopic_body_avatar_after -->
						</div>
						<!-- EVENT viewtopic_body_post_author_before -->
						<!-- IF not postrow.U_POST_AUTHOR --><strong>{postrow.POST_AUTHOR_FULL}</strong><!-- ELSE -->{postrow.POST_AUTHOR_FULL}<!-- ENDIF -->
						<!-- IF RA_POSTER_STYLE -->
							<span class="re-md-r"><br>
							{postrow.RANK_TITLE}
							<!-- IF postrow.RANK_TITLE and postrow.RANK_IMG -->
							<br>
							<!-- ENDIF -->
							{postrow.RANK_IMG}</span>
						<!-- ENDIF -->
						<!-- EVENT viewtopic_body_post_author_after -->

						<div class="<!-- IF not RA_POSTER_STYLE -->dropdown-profile<!-- ELSE -->standard-profile<!-- ENDIF -->">
							<dl class="profile-info">
								<!-- IF not RA_POSTER_STYLE -->
								<!-- EVENT viewtopic_body_postrow_rank_before -->
								<!-- IF postrow.RANK_TITLE or postrow.RANK_IMG -->
									<dt>{L_RANK}{L_COLON}</dt>
									<dd>{postrow.RANK_TITLE}
										<!-- IF postrow.RANK_TITLE and postrow.RANK_IMG -->
										<br>
										<!-- ENDIF -->
										{postrow.RANK_IMG}
									</dd>
								<!-- ENDIF -->
								<!-- EVENT viewtopic_body_postrow_rank_after -->
								<!-- ENDIF -->

								<!-- IF postrow.POSTER_POSTS != '' -->
									<dt>{L_POSTS}{L_COLON}</dt>
									<dd><!-- IF postrow.U_SEARCH !== '' --><a href="{postrow.U_SEARCH}"><!-- ENDIF -->{postrow.POSTER_POSTS}<!-- IF postrow.U_SEARCH !== '' --></a><!-- ENDIF -->
									</dd>
								<!-- ENDIF -->

								<!-- IF postrow.POSTER_JOINED -->
									<dt>{L_JOINED}{L_COLON}</dt>
									<dd>{postrow.POSTER_JOINED}</dd>
								<!-- ENDIF -->

								<!-- IF postrow.POSTER_WARNINGS -->
									<dt>{L_WARNINGS}{L_COLON}</dt>
									<dd>{postrow.POSTER_WARNINGS}</dd>
								<!-- ENDIF -->

								<!-- IF postrow.S_PROFILE_FIELD1 -->
									<dt>{postrow.PROFILE_FIELD1_NAME}{L_COLON}</dt>
									<dd>{postrow.PROFILE_FIELD1_VALUE}</dd>
								<!-- ENDIF -->

								<!-- EVENT viewtopic_body_postrow_custom_fields_before -->
								<!-- BEGIN custom_fields -->
									<!-- IF not postrow.custom_fields.S_PROFILE_CONTACT -->
										<dt>{postrow.custom_fields.PROFILE_FIELD_NAME}{L_COLON}</dt>
										<dd>{postrow.custom_fields.PROFILE_FIELD_VALUE}</dd>
									<!-- ENDIF -->
								<!-- END custom_fields -->
								<!-- EVENT viewtopic_body_postrow_custom_fields_after -->
							</dl>

							<!-- EVENT viewtopic_body_contact_fields_before -->
							<!-- IF not S_IS_BOT and .postrow.contact -->
								<div class="profile-contact">
									<span>{L_CONTACT}{L_COLON}</span>
									<ul>
										<!-- BEGIN contact -->
											<li><a href="<!-- IF postrow.contact.U_CONTACT -->{postrow.contact.U_CONTACT}<!-- ELSE -->{postrow.U_POST_AUTHOR}<!-- ENDIF -->" title="{postrow.contact.NAME}"<!-- IF postrow.contact.ID eq 'jabber' --> onclick="popup(this.href, 750, 320); return false;"<!-- ENDIF -->>
												{postrow.contact.NAME}
											</a></li>
										<!-- END contact -->
									</ul>
								</div>
							<!-- ENDIF -->
							<!-- EVENT viewtopic_body_contact_fields_after -->
						</div>
					</div>
				</aside>

				<article class="postbody">
					<!-- IF postrow.S_POST_HIDDEN -->
						<!-- IF postrow.S_POST_DELETED -->
							<div class="ignore" id="post_hidden{postrow.POST_ID}">
								{postrow.L_POST_DELETED_MESSAGE}<br />
								{postrow.L_POST_DISPLAY}
							</div>
						<!-- ELSEIF postrow.S_IGNORE_POST -->
							<div class="ignore" id="post_hidden{postrow.POST_ID}">
								{postrow.L_IGNORE_POST}<br />
								{postrow.L_POST_DISPLAY}
							</div>
						<!-- ENDIF -->
					<!-- ENDIF -->
					<div id="post_content{postrow.POST_ID}"<!-- IF postrow.S_POST_HIDDEN --> style="display: none;"<!-- ENDIF -->>

					<!-- EVENT viewtopic_body_post_subject_before -->

					<h3><!-- IF postrow.POST_ICON_IMG --><img src="{T_ICONS_PATH}{postrow.POST_ICON_IMG}" width="{postrow.POST_ICON_IMG_WIDTH}" height="{postrow.POST_ICON_IMG_HEIGHT}" alt="" /><!-- ENDIF --><a href="#p{postrow.POST_ID}">{postrow.POST_SUBJECT}</a></h3>

					<!-- EVENT viewtopic_body_postrow_post_details_before -->
					<a href="{postrow.U_MINI_POST}" class="post-number">#{postrow.POST_NUMBER}</a>
					<!-- EVENT viewtopic_body_postrow_post_details_after -->

					<span class="re-md post-author-r">{L_POST_BY_AUTHOR} {postrow.POST_AUTHOR_FULL}</span>

					<!-- IF postrow.S_POST_UNAPPROVED -->
					<form method="post" action="{postrow.U_APPROVE_ACTION}">
						<div class="post-unapproved-notice">
							<input type="submit" value="{L_DISAPPROVE}" name="action[disapprove]" /><input type="submit" value="{L_APPROVE}" name="action[approve]" />
							<input type="hidden" name="post_id_list[]" value="{postrow.POST_ID}" />
							{S_FORM_TOKEN}
						</div>
					</form>
					<!-- ELSEIF postrow.S_POST_DELETED -->
					<form method="post" action="{postrow.U_APPROVE_ACTION}">
						<div class="post-deleted-notice">
							<!-- IF postrow.S_DELETE_PERMANENT --><input type="submit" value="{L_DELETE}" name="action[delete]" /><!-- ENDIF --><input type="submit" value="{L_RESTORE}" name="action[restore]" />
							<input type="hidden" name="post_id_list[]" value="{postrow.POST_ID}" />
							{S_FORM_TOKEN}
						</div>
					</form>
					<!-- ENDIF -->

					<!-- IF postrow.S_POST_REPORTED -->
						<a class="post-reported-notice" href="{postrow.U_MCP_REPORT}">{L_POST_REPORTED}</a>
					<!-- ENDIF -->

					<div class="post-content">{postrow.MESSAGE}</div>

					<!-- EVENT viewtopic_body_postrow_post_notices_before -->
					<!-- IF postrow.S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
					<!-- IF postrow.DELETED_MESSAGE or postrow.DELETE_REASON -->
						<div class="notice post_deleted_msg">
							{postrow.DELETED_MESSAGE}
							<!-- IF postrow.DELETE_REASON --><br /><strong>{L_REASON}{L_COLON}</strong> <em>{postrow.DELETE_REASON}</em><!-- ENDIF -->
						</div>
					<!-- ELSEIF postrow.EDITED_MESSAGE or postrow.EDIT_REASON -->
						<div class="notice">
							{postrow.EDITED_MESSAGE}
							<!-- IF postrow.EDIT_REASON --><br /><strong>{L_REASON}{L_COLON}</strong> <em>{postrow.EDIT_REASON}</em><!-- ENDIF -->
						</div>
					<!-- ENDIF -->

					<!-- IF postrow.BUMPED_MESSAGE --><div class="notice"><br /><br />{postrow.BUMPED_MESSAGE}</div><!-- ENDIF -->
					<!-- EVENT viewtopic_body_postrow_post_notices_after -->
					<!-- IF postrow.SIGNATURE --><div id="sig{postrow.POST_ID}" class="post-signature">{postrow.SIGNATURE}</div><!-- ENDIF -->
					<!-- EVENT viewtopic_body_postrow_post_content_footer -->

					<!-- IF postrow.S_HAS_ATTACHMENTS -->
						<dl class="attachbox">
							<dt>
								{L_ATTACHMENTS}
							</dt>
							<!-- BEGIN attachment -->
								<dd>{postrow.attachment.DISPLAY_ATTACHMENT}</dd>
							<!-- END attachment -->
						</dl>
					<!-- ENDIF -->

					<!-- DEFINE $SHOW_POST_BUTTONS = (postrow.U_EDIT or postrow.U_DELETE or postrow.U_REPORT or postrow.U_WARN or postrow.U_INFO or postrow.U_QUOTE) -->

					<!-- EVENT viewtopic_body_post_buttons_list_before -->
					<!-- IF not S_IS_BOT -->
						<!-- IF $SHOW_POST_BUTTONS -->
						<!-- IF postrow.U_EDIT or postrow.U_DELETE or postrow.U_REPORT or postrow.U_WARN or postrow.U_INFO or postrow.U_QUOTE -->
							<ul class="post-actions">
								<!-- EVENT viewtopic_body_post_buttons_before -->
								<!-- IF postrow.U_EDIT --><li><a href="{postrow.U_EDIT}" title="{L_EDIT_POST}"><span>{L_BUTTON_EDIT}</span></a></li><!-- ENDIF --><!-- IF postrow.U_DELETE --><li><a href="{postrow.U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF --><!-- IF postrow.U_REPORT --><li><a href="{postrow.U_REPORT}" title="{L_REPORT_POST}"><span>{L_REPORT_POST}</span></a></li><!-- ENDIF --><!-- IF postrow.U_WARN --><li><a href="{postrow.U_WARN}" title="{L_WARN_USER}"><span>{L_WARN_USER}</span></a></li><!-- ENDIF --><!-- IF postrow.U_INFO --><li><a href="{postrow.U_INFO}" title="{L_INFORMATION}"><span>{L_INFORMATION}</span></a></li><!-- ENDIF --><!-- IF postrow.U_QUOTE --><li><a href="{postrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}"><span>{L_QUOTE}</span></a></li><!-- ENDIF --><li class="right post-date"><a href="{postrow.U_MINI_POST}">{postrow.POST_DATE}</a></li>
								<!-- EVENT viewtopic_body_post_buttons_after -->
							</ul>
						<!-- ENDIF -->
						<!-- ENDIF -->
					<!-- ENDIF -->
					<!-- EVENT viewtopic_body_post_buttons_list_after -->

					</div>
					<!-- EVENT viewtopic_body_postrow_back2top_before -->
					<!-- EVENT viewtopic_body_postrow_back2top_after -->
				</article>
			</div>

			<!-- EVENT viewtopic_body_postrow_post_after -->
		<!-- END postrow -->

		<!-- IF S_QUICK_REPLY -->
			<!-- INCLUDE quickreply_editor.html -->
		<!-- ENDIF -->

	</div>
	</div>

	<!-- EVENT ra_sidebar_viewtopic -->

	</div>
	<div class="chunk">

		<!-- EVENT viewtopic_body_topic_actions_before -->
		<div class="action-bar-bottom">
			<!-- IF .quickmod -->
				<div class="dropdown-up">
					<span class="button-round" title="{L_QUICK_MOD}" data-toggle="dropdown"><i class="fa fa-gavel"></i></span>
					<ul class="dropdown-box">
					<!-- BEGIN quickmod -->
						<!-- DEFINE $QUICKMOD_AJAX = (quickmod.VALUE in ['lock', 'unlock', 'delete_topic', 'restore_topic', 'make_normal', 'make_sticky', 'make_announce', 'make_global']) -->
						<li><a href="{quickmod.LINK}"<!-- IF $QUICKMOD_AJAX --> data-ajax="true" data-refresh="true"<!-- ENDIF -->><i class="fa ra-{quickmod.VALUE}"></i>{quickmod.TITLE}</a></li>
					<!-- END quickmod -->
					</ul>
				</div><!-- ENDIF --><!-- EVENT viewtopic_dropdown_bottom_custom --><!-- IF .pagination or TOTAL_POSTS --><div class="pagination">
					<!-- IF .pagination --><!-- INCLUDE pagination.html --><!-- ENDIF -->{TOTAL_POSTS}</div><!-- ENDIF --><!-- EVENT viewtopic_buttons_bottom_before --><!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO --><a href="{U_POST_REPLY_TOPIC}" class="button icon-button <!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->reply-icon<!-- ENDIF -->" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->">
					<!-- IF S_IS_LOCKED --><i class="fa fa-lock"></i><span>{L_BUTTON_TOPIC_LOCKED}</span><!-- ELSE --><i class="fa fa-pencil"></i><span>{L_BUTTON_POST_REPLY}</span><!-- ENDIF -->
				</a><!-- ENDIF --><!-- EVENT viewtopic_buttons_bottom_after -->
		</div>

		<!-- EVENT viewtopic_body_footer_before -->

		<!-- INCLUDE jumpbox.html -->

	</div>
</div>

<div class="background-deep">
	<div class="chunk">
		<!-- IF S_DISPLAY_ONLINE_LIST -->
			<div class="stat-block online-list">
				<h3><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h3>
				<p>{LOGGED_IN_USER_LIST}</p>
			</div>
		<!-- ENDIF -->
	</div>
</div>

<!-- INCLUDE overall_footer.html -->
